<template>
   <span class="game__betInfo__chance__value" v-html="displayNumberFormatted" :style="styles"></span>
</template>
<script>
    import { tween } from 'shifty'; //пока попробуем shifty, если будут проблемы с производительностью, юзаем TweenLite

    let timeout;
    export default {
        props:['number'],
        data: ()=>({
            displayNumber: 0,
            previousNumber: 0,
            interval: false,
            styles:{
                color: ''
            }
        }),
        created: function () {
            this.displayNumber = this.number ? this.number : 0;
        },
        computed:{
            displayNumberFormatted: function () {
                return this.$options.filters.formatPercentChance(this.displayNumber)
            }
        },
        watch: {
            number: function (newVal) {
                this.styles.color = '';
                clearTimeout(timeout);
                timeout = setTimeout(()=> this.styles.color='#fff', 2500);
                if(this.displayNumber < newVal){
                    this.styles.color = '#7ed321'
                }else{
                    this.styles.color = '#ff1818'
                }

                tween({
                    from: {x: this.displayNumber},
                    to: {x: this.number},
                    duration: 400,
                    step: state => this.displayNumber = state.x
                })
            }
        },

    }
</script>