<template>
    <div class="container">
        <game :user="user"></game>
        <winners-list></winners-list>
    </div>
</template>
<script>
    export default {
        props: ['user'],
        data: () => ({

        })
    }
</script>
