<template>
    <div class="game__raffle__wrap">
        <button @click="isShowWinner=true" style="position: absolute; top: -20px">show winner</button>
        <button @click="isShowWinner=false" style="position: absolute; top: -40px">hide winner</button>
        <div class="game__raffle">
            <div class="game__raffle__inner" ref="container">
                <div class="game__raffle__players__wrap">
                    <transition name="opacity02">
                        <div v-if="isShowWinner" class="game__raffle__caret top" key="image1">
                            <img  src="/images/svg/game-caret-green.svg" >
                        </div>
                        <div v-else class="game__raffle__caret top"  key="image2">
                            <img  src="/images/game-caret.svg" alt="" >
                        </div>
                    </transition>

                    <transition name="opacity02">
                        <div v-if="isShowWinner" class="game__raffle__caret bottom" key="image1">
                            <img  src="/images/svg/game-caret-green.svg" >
                        </div>
                        <div v-else class="game__raffle__caret bottom"  key="image2">
                            <img  src="/images/game-caret.svg" alt="" >
                        </div>
                    </transition>
                    <div class="game__raffle__players"
                         v-bind:style="rouletteStyles"
                         v-on:transitionend="onSpinEnd">
                        <div class="game__raffle__player"
                             v-for="(ticket,i) in tickets"
                             :class="'ticket_' + ticket.id">
                                <img :src="ticket.avatar" alt="">
                            <span>{{ticket.id}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <transition name="winner" :duration="700">
                <div class="game__raffle__player__winner" v-if="isShowWinner">
                        <div class="game__raffle__player__winner__name">{{winnerInfo.name}}</div>
                        <div class="game__raffle__player__winner__info">
                            <div>
                                <span class="game__raffle__player__winner__label">Ставка</span>
                                <span class="game__raffle__player__winner__value">{{winnerInfo.sum}} ₽</span>
                            </div>
                            <div>
                                <span class="game__raffle__player__winner__label">Шанс</span>
                                <span class="game__raffle__player__winner__value">{{winnerInfo.percent.toFixed(1)}}%</span>
                            </div>
                        </div>
                        <div class="game__raffle__player__winner__laurel">
                            <img src="/images/svg/laurel.svg" alt="">
                        </div>
                </div>
            </transition>
        </div>
    </div>
</template>
<script>
    //TODO когда нет игроков и показывается рулетка, уходит в бесконечный цикл, при этом ошибок нет
    export default {
        props: ['players', 'winnerId', 'start', 'user'],
        data: () => ({
            tickets: [],
            rouletteStyles:{
                transform: 'translateX(0px)'
            },
            winner: null,
            winnerInfo: {},
            isShowWinner: false,
            rouletteOffset: 0
        }),
        created: function () {
            let tickets = _.flatten(this.players.map((player)=>{

                if(player.id === this.winnerId){
                    let winner = {
                        name: player.name,
                        sum: player.sum,
                        percent: player.percent,
                        id: player.id
                    }
                    this.winnerInfo = winner;
                }

                return player.tickets.map((ticket)=>{
                    let ticketMapped = {
                        value: ticket
                    }
                    ticketMapped.avatar = player.avatar
                    ticketMapped.id = player.id
                    ticketMapped.name = player.name
                    ticketMapped.percent = player.percent
                    ticketMapped.sum = player.sum
                    return ticketMapped
                })
            }));

            const ticketsOnRoulette = 100;
            let cloneCount;
            if(tickets.length > 100){
                cloneCount = 2;
            }else{
                cloneCount = Math.round( ticketsOnRoulette / tickets.length)
            }

            let ticketsCloned = [];
            for(let i=1;i<=cloneCount;i++){
                ticketsCloned = ticketsCloned.concat(tickets);
            }
            this.tickets = ticketsCloned;
        },
        mounted: function () {
            let container = this.$refs.container;
            let container_width = container.clientWidth;

            let winners = container.querySelectorAll('.ticket_'+this.winnerId);
            this.winners = winners;
            this.winner =  winners[winners.length-1];
            let winnerOffsetLeft = this.winner.offsetLeft; //TODO протестировать крайние случаи

            this.rouletteOffset = winnerOffsetLeft - (container_width / 2) + 70; //TODO протестить

            this.tickets = this.tickets.concat(this.tickets.slice(-15));

            setTimeout(()=>{
                this.$emit('update:start', true);
            }, 1500);
        },
        watch:{
            start: function (newVal) {
                if(newVal == true) {
                    this.rouletteStyles.transform = 'translateX(-' + this.rouletteOffset +'px)';
                }else{
                    this.rouletteStyles.transform = 'translateX(0)';
                }
            }
        },
        methods:{
            onSpinEnd: function () {
                $(this.$refs.container)
                    .find('.game__raffle__player')
                    .not(this.winner)
                    .addClass('opacity'); //TODO из-за jquery срабатывает много раз. проверить.

                this.isShowWinner = true;
                setTimeout(()=>{
                    this.$emit('end');
                    this.$bus.$emit('roulette-end', this.user);
                }, 2000);
            },
            showWinner: function () {
                this.isShowWinner = true;
            }
        }
    }
</script>