<template>
    <div class="game__area__players__outer">
        <template v-if="playersMapped.length > 0">
            <transition-group tag="div" class="game__area__players" appear v-bind:css="false"
                              v-on:before-enter="playerBeforeEnter"
                              v-on:enter="playerEnter" v-on:after-enter="">
                <game-player :player="player"
                             :user="user"
                             :key="player.id"
                             v-for="player in playersMapped"
                             :player-chance="player.percent"
                             :ref="'player_' + player.id"
                             :style="{ width: player.percent+'%'}"
                             :class="{'first-player' : playersMapped.length == 1}"
                             :data-width="player.percent"></game-player>
            </transition-group>
        </template>
        <div class="game__noUsers" v-if="players.length < 1" :style="{width: players.length == 1 ? '50%' : '100%'}">
            <p v-if="players.length == 0">Сделайте первую ставку</p>
            <p v-else-if="players.length == 1">Ждем еще игрока</p>
            <div v-if="players.length == 0">Первый игрок заходит в игру с минимальной ставки, но может увеличить ее пока тикает таймер</div>
            <div v-else-if="players.length == 1">Каждый игрок можеи занять максимум 50% шанса</div>
        </div>
    </div>
</template>
<script>
    import Velocity from 'velocity-animate';

    export default {
        props: ['user', 'players', 'gameBank'],
        data: () => ({
            ticketsPopUp:{
                show: false,
                user: {},
                left: 0,
            },
            backgrounds: [
                'linear-gradient(222deg, rgba(92, 255, 0, 0.4), rgba(12, 157, 0, 0.45))', //green
                'linear-gradient(196deg, rgba(248, 248, 248, 0.45) 5%, rgba(221, 221, 221, 0.33) 97%)', //sea
                'linear-gradient(196deg, rgba(0, 255, 234, 0.45), rgba(0, 255, 198, 0.33))', //blue
                'linear-gradient(190deg, rgba(255, 89, 0, 0.96), rgba(255, 34, 0, 0.7))', // red
                'linear-gradient(193deg, rgba(210, 110, 255, 0.45), rgba(178, 57, 255, 0.33))' //purple
            ],
        }),
        methods: {
            showTickets:function (user) {
              if(user.id === this.user.id)
                  return;
              let el = this.$refs['player_' + user.id][0];
              if(typeof el !== 'undefined') {
                  this.ticketsPopUp.show = true;
                  this.ticketsPopUp.user = user;
                  let offsetLeft = el.offsetParent.offsetLeft + el.offsetLeft;
                  this.ticketsPopUp.left = offsetLeft;
              }
            },
            hideTickets: function (event) {

            },
            playerBeforeEnter: function (el) {
                el.style.opacity=0;
                el.style.width='0%';
            },
            playerEnter: function (el, done) {
                el.style.width=0;
                el.style.opacity=0;
                setTimeout(()=>{
                    el.style.width=el.dataset.width + '%';
                    el.style.opacity=1;
                }, 5);
//                let easing = [0.250, 0.250, 0.750, 0.750];
//                Velocity(el,
//                    { width: el.dataset.width + '%' },
//                    {
//                        easing: easing,
//                        duration: 400
//                    });
                setTimeout(function () {
                    console.log('player animation done');
                    done();
                }, 500)
            }
        },
        computed: {
          playersMapped: function () {
               let players = this.players.map((player)=>{
                    let sum = _.sum(player.tickets);

                    player.percent = (100*sum) / this.gameBank ;

                    if(typeof player.color === 'undefined') {
                        if(this.user.id === player.id )
                            player.color = 'linear-gradient(223deg, #ffd351, #e0980d)';
                        else
                            player.color = this.backgrounds[Math.floor(Math.random() * this.backgrounds.length)];
                    }

//                    if(player.percent > 50)
//                        player.percent = 50;

                    player.sum = sum;
                    return player;
                });

               let playersSorted = _.orderBy(players, ['percent'] , 'desc');

               return _.orderBy(playersSorted, (player) => {
                   return player.id == this.user.id ? 0 : 1;
               });
          }
        }
    }
</script>