<template>
    <div class="ticketsPopUp__outer">
        <div class="ticketsPopUp ticketsPopUp--players">
            <div class="ticketsPopUp__user">
                <div class="ticketsPopUp__ava">
                    <img :src="player.avatar" alt="">
                </div>
                <div class="ticketsPopUp__user__info">
                    <div class="ticketsPopUp__user__name">{{player.name}}</div>
                    <span class="ticketsPopUp__user__bet">
                        <span class="ticketsPopUp__user__info__label">Ставка</span>
                        <span class="ticketsPopUp__user__info__value">{{player.sum}} ₽</span>
                    </span>&nbsp;&nbsp;
                    <span class="ticketsPopUp__user__chance">
                        <span class="ticketsPopUp__user__info__label">Шанс</span>
                        <span class="ticketsPopUp__user__info__value">{{player.percent.toFixed(1)}}%</span>
                    </span>
                </div>
            </div>
            <div @click="$emit('hide')" class="ticketsPopUp__close"></div>
            <div class="bTicketsList">
                <div class="bTicketsList__label">Билеты</div>
                <div v-for="ticket in tickets" class="bTicketsList__item">{{ticket}}</div>
                <div v-if="!isShowAllTickets" @click="isShowAllTickets=true" class="bTicketsList__item bTicketsList__item--more" >Еще</div>
            </div>
            <p>
                Каждая ваша минимальная ставка — это место в розыгрыше. В конце игры вы сможете
                <a href="" class="main-link"> проверить результаты</a> на Random.org
            </p>
        </div>
    </div>
</template>
<script>
    export default{
        props: ['player'],
        data:()=>({
            isShowAllTickets: false
        }),
        computed: {
            tickets: function () {
                return !this.isShowAllTickets ? this.player.tickets.slice(0,4) : this.player.tickets
            }
        }
    }
</script>
