<template>
    <section class="game">
        <div class="add_user_to_game">
            <button @click="addUser">Добавить игрока</button>

            <!--<button @click="startTimer">start timer </button>-->
            <!--<input type="text" v-model="timerSeconds" style="width: 30px">-->

            <!--<button @click="isGameEnded=true">show roulette</button>-->
            <!--<button @click="isGameEnded=false">hide roulette</button>-->
            <!--<button @click="rouletteStarted=true">start roulette</button>-->
            <!--<button @click="show.winner_popup = true">модалка с победителем</button>-->

                <!--Для корректной работы нужно самому добавить ставку, т.к. расстояние считается до билета с ID==1-->
        </div>
        <div class="container">
            <div class="game__wrapper">
                <transition name="width" :duration="1000">
                    <game-control2 v-if="user && !isGameEnded"
                                   :user="user"
                                   :game="game"
                                   :make-bet="makeBet"></game-control2>
                </transition>
                <div class="game__view">
                    <div class="game__topBar">
                        <div class="game__title">
                            <transition name="opacity02">
                                <div class="headline" v-show="isGameEnded">Розыгрыш</div>
                            </transition>
                        </div>
                        <div class="game__gain">
                            <svg role="img" class="icon-cash">
                                <use xlink:href="/img/icons.svg#icon-cash"></use>
                            </svg>
                            Победителю
                            <span>{{gameBank}} ₽</span>
                        </div>
                        <div class="game__status">
                            <transition name="fade" mode="out-in">
                                <game-countdown :seconds.sync="timerSeconds" v-if="gameState == 'timer'" key="timer"></game-countdown>
                                <div v-if="gameState == 'winner'" key="winner">Выбираем победителя</div>
                                <div v-if="gameState == 'begin'" key="begin">Ждем игроков</div>
                            </transition>
                        </div>
                    </div>
                    <div class="">
                        <div class="game__area" :class="{'game-ended': isGameEnded}">
                            <transition name="fade"
                                        mode="out-in"
                                        v-on:after-leave="show.roulette = true">
                                    <game-players v-if="show.players"
                                                  :players="game.users"
                                                  :game-bank="gameBank"
                                                  :user="user">
                                    </game-players>
                            </transition>
                            <transition name="roulette"
                                        v-on:after-leave="show.players = true">
                                <game-raffle v-if="show.roulette"
                                             :players="game.users"
                                             :user="user"
                                             :winner-id="winnerId"
                                             :start.sync="rouletteStarted" v-on:end="isGameEnded=false">
                                </game-raffle>
                            </transition>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <transition name="winner_modal" :duration="700">
            <winner-popup v-if="show.winner_popup" v-on:close="show.winner_popup=false"></winner-popup>
        </transition>
    </section>
</template>
<script>
    const PLAYERS_MIN_NUMBER = 2;
    const TIMER_SECONDS = 30;

    export default{
        props: ['user'],
        data: () => ({
            show:{
                roulette: false,
                players: true,
                winner_popup: false
            },
            gameState: 'begin',
            winnerId: 1,
            rouletteStarted: false, //temp
            isTimerStarted: false,
            isGameEnded: false,
            timerSeconds: TIMER_SECONDS,
            game:{
                id: 3,
                status: '',
                users: [
                ],
                winnerId: 1,
                min_players: PLAYERS_MIN_NUMBER,
                betsUnderFiveSeconds: 0,
                betValues: [10, 50, 100]
            }
        }),
        created: function () {
//          this.addUser()
//          this.addUser()
        },
        computed: {
            gameBank: function () {
                let gameBank = 0;
                this.game.users.map((user) => {
                    gameBank += _.sum(user.tickets); //TODO check for string
                });
                return gameBank;
            },
        },
        watch: {
            isGameEnded: function (val) {
                if(val === true) {
                    this.gameState = 'winner';
                    this.showRoulette();
                }else{
                    this.gameState = 'begin';
                    this.hideRoulette();
                }
            },
          'game.users': function (users) {
              if(users.length == PLAYERS_MIN_NUMBER){
                this.isTimerStarted = true;
                this.gameState = 'timer';
              }
           },
           timerSeconds: function (newVal) {
               if(newVal <= 0){
                   this.isGameEnded = true;
               }
           }
        },
        methods: {
            showRoulette: function () {
                this.isTimerStarted = false; //TODO если нет юзеров и второй раз показывать - зависает
                //this.isGameEnded = true;
                this.show.players = false;
            },
            hideRoulette: function () {
                this.show.roulette = false;
                //this.isGameEnded = false;
                this.resetGame();
            },
            resetGame: function () {
                this.game.users = [];
                this.game.timerSeconds = TIMER_SECONDS;
                this.game.betsUnderFiveSeconds=0;
                this.game.betValues=[10, 50, 100];
                this.user.tickets = [];
            },
            makeBet: function (gameID, amount) {
                if(this.user.balance < amount){ //TODO make small balance event?
                    return;
                }else{
                    this.user.balance -= amount;
                }
                //ajax there
                //TODO убрать после нтеграции в бэком

                let user = _.find(this.game.users, {id: this.user.id});
                if(user){
                    user.tickets.push(amount);
                }else{
                    let user = this.user;
                    user.tickets = [];
                    user.tickets.push(amount);
                    this.game.users.push(user);
                }

                this.game = Object.assign({}, this.game);  //force update

                if(this.timerSeconds < 5){
                    this.timerSeconds = 5;
                    this.game.betsUnderFiveSeconds++;
                }
            },
            addUser: function () {
                this.game.users.push({
                    id:  Math.floor(Math.random() * (10000 - 2 + 1)) + 2, //random id
                    avatar: '/images/ava.jpg',
                    name: 'Александр В.',
                    tickets: [30]
                })
            },
            startTimer: function () {
                this.gameState = 'timer';
                this.isTimerStarted = true;  //TODO temp?
            }
        }
    }
</script>