<template>
    <div class="game__countdown">
        <transition-group appear
                class="game__countdown__list"
                name="countdown-list"
                tag="span"
                v-on:after-enter="onAfterEnter">
            <span v-for="(v, i) in deltaList" class="game__countdown__plus" :key="i">+{{v}}</span>
        </transition-group>
        <span :class="{blink: now < 6}" class="game__countdown__time">{{now}}</span> секунд до начала
    </div>
</template>
<script>
    let interval = null;
    export default{
        props: ['seconds'],
        data: ()=>({
            now: false,
            deltaList: [],
            listKey: 0
        }),
        created: function () {
            this.now = this.seconds;
            this.setTimer();
        },
        methods: {
            setTimer: function () {
                interval = setInterval(() => {
                    this.now--;
                }, 1000);
            },
            onAfterEnter: function (el) {
               this.deltaList.pop()
            },
        },
        watch:{
            now: function (newVal) {
                if(newVal < 1)
                    clearInterval(interval);
                this.$emit('update:seconds', newVal);
            },
            seconds: function (newVal) {
                if(newVal > this.now) {
                    this.deltaList.push(newVal -  this.now);

                    this.now = newVal;
                    clearInterval(interval);
                    this.setTimer();
                }
            }
        }

    }
</script>