<template>
    <div class="game__control">
        <div class="game__control-title">
            Новая игра
        </div>
        <template v-if="user.balance != 0">
            <div class="game__control-input">
                <div class="game__bet-input">
                    <div class="input-rub">
                        <label>
                            <input @keyup.enter="makeBet(game.id, betValue)"
                                   v-model.lazy.number="betValue"
                                   type="number"
                                   class="input-rub__input" placeholder="10" value="10">
                        </label>
                        <div class="input-rub__currency-icon">₽</div>
                    </div>
                </div>
                <div class="game__bet-button">
                    <button class="main-button main-button_nopad" :class="{'btn--riseBet' : user.tickets.length > 0}" @click="makeBet(game.id, betValue)">
                        {{makeBetLabel}}
                    </button>
                </div>
            </div>
            <div class="game__bet-slider">
                <div class="game__bet-slider__betRandge">
                    <!--<div v-show="user.tickets.length > 2"-->
                         <!--:class="{active: betValue == minimumBet}">{{minimumBet}} ₽</div>-->
                    <!--<div v-show="user.tickets.length > 2"-->
                         <!--:class="{active: betValue >maximumBet/2 - 10 && betValue < user.balance/2 + 10}">-->
                        <!--{{maximumBet/2}} ₽-->
                    <!--</div>-->
                    <!--<div :class="{active: betValue == maximumBet}">{{maximumBet}} ₽</div>-->
                </div>
                <vue-slider v-bind="slider"
                            v-model="betValue"
                            ref="gameSlider"
                            v-on:callback="sliderCallback"
                            v-on:drag-start  ="sliderDragStart"
                ></vue-slider>
            </div>
        </template>
        <div class="game__betInfo">
            <div class="game__betInfo__chance">
                <div class="game__betInfo__chanceDelta" :key="deltaChance">+{{deltaChance.toFixed(1)}}%</div>
                <transition name="fade-num" mode="out-in">
                    <div class="game__betInfo__val" :key="chance">{{chance.toFixed(1)}}%</div>
                </transition>
                <div class="game__betInfo__label">Шанс</div>
            </div>
            <div class="game__betInfo__sum">
                <transition name="fade-num" mode="out-in">
                    <div class="game__betInfo__val" :key="betSum">{{betSum}} ₽</div>
                </transition>
                <div class="game__betInfo__label">Ставка</div>
            </div>
            <div class="game__betInfo__tickets">
                <div class="btnTickets" @click="showTickets">
                    <span>Билеты</span>
                </div>
                <transition name="fade">
                    <div class="ticketsPopUp" v-if="isShowTickets && user.tickets.length > 0">
                        <div class="ticketsPopUp__header">Ваши билеты</div>
                        <div @click="isShowTickets = false" class="ticketsPopUp__close"></div>
                        <div class="bTicketsList">
                            <div v-for="ticket in user.tickets" class="bTicketsList__item">{{ticket}}</div>
                            <div class="bTicketsList__item bTicketsList__item--more">Еще</div>
                        </div>
                        <p>
                            Каждая ваша минимальная ставка — это место в розыгрыше. В конце игры вы сможете
                            <a href="" class="main-link"> проверить результаты</a> на Random.org
                        </p>
                    </div>
                </transition>
            </div>

        </div>
        <div class="game__betInfo__bar">
            <div class="game__betInfo__bar__current" :style="{width: chance + '%'}"></div>
            <div class="game__betInfo__bar__delta"  :style="{width: (chance + deltaChance) + '%'}"></div>
        </div>
    </div>
</template>
<script>

    import vueSlider from 'vue-slider-component'

    export default {
        props: ['user', 'game', 'makeBet'],
        components: {
            vueSlider
        },
        data: ()=>({
            isShowTickets: false,
            slider:{
                interval: 10,
                speed: 0.3,
                tooltip: true,
                height: 3,
                disabled: true,
                bgStyle: {
                    background: 'rgba(255, 255, 255, 0.2)',
                },
                processStyle: {
                    background: '#7ed321',
                },
                sliderStyle: {
                    padding: 0,
                    width: 24,
                    height: 20,
                    backgroundSize: 'cover',
                    borderRadius: 0,
                    boxShadow: 'none',
                    top: -10,
                    left: -8,
                },
                piecewise: true,
                piecewiseLabel: true,
                piecewiseActiveStyle: {
                    "color": "#fff"
                }
            },
            betValue: 0
        }),
        created: function () {
            this.game.betsUnderFiveSeconds = 0;
            this.betValue = this.game.start_bet;
            this.slider.min = 0;
            this.slider.max = parseInt(this.game.start_bet);
        },
        watch: {
            betValue: function (newVal) {
//                if(newVal > this.maximumBet)
//                    this.betValue = this.maximumBet;
//                if(newVal < this.minimumBet)
//                    this.betValue = this.minimumBet;
            },
            'user.tickets': function (newValue) {
                if(newValue.length >= 2) {
                    this.slider.disabled = false;
                    this.slider.min = this.game.start_bet;
                }
            },
            minimumBet: function (newVal) {
//                if(newVal > this.betValue)
//                    this.betValue = newVal;
                this.slider.min = newVal;
            },
            maximumBet: function (newVal) {
                if(newVal > 50)
                    this.slider.piecewiseLabel = false;
                this.slider.max = newVal;
            }
        },
        computed: {
            maximumBet: function () {
                let sum = this.game.start_bet;
                for(let i=1;i<=this.user.tickets.length;i++){
                    if(i >= 2) {
                        sum = sum + sum;
                    }
                }
                if(sum < this.minimumBet)
                    sum = this.minimumBet;
                return sum;
            },
            minimumBet: function () {
                let sum = this.game.start_bet;
                for(let i=1;i<=this.game.betsUnderFiveSeconds;i++){
                    sum = sum + sum;
                }
                return sum;
            },
            makeBetLabel: function () {
                if(this.user.tickets.length > 0)
                    return 'Повысить ставку';
                else
                    return 'Поставить';
            },
            betSum: function () {
                return _.sum(this.user.tickets);
            },
            chance: function () {
                let gameBank = 0;

                this.game.users.map((user) => {
                    gameBank += _.sum(user.tickets); //TODO check for string
                });

                let userBets = _.sum(this.user.tickets);

                let chance  =  (userBets * 100) / gameBank;

                if(!chance)
                    chance = 0;

//                return chance > 50 ? 50 : chance;
                return chance;
            },
            deltaChance: function () {
                let gameBank = 0;

                this.game.users.map((user) => {
                    if(this.user.id !== user.id)
                        gameBank += _.sum(user.tickets); //TODO check for string
                });

                let userBets = _.sum(this.user.tickets);

                let futureChance = (this.betValue  * 100) / gameBank;


//                if(futureChance > 50)
//                    futureChance = 50;

                if(this.chance + futureChance > 100)
                    futureChance = 100 - this.chance;

                return futureChance;
            }
        },
        methods: {
            sliderCallback: function (value) {
                let sliderObj = this.$refs.gameSlider;
                if(value >= this.maximumBet){
                    sliderObj.setValue(this.maximumBet);
                }
                if(value <= this.minimumBet){
                    sliderObj.setValue(this.minimumBet);
                }
            },
            sliderDragStart: function (slider) {
                 if(slider.getValue() >= this.maximumBet){
                     slider.handleKeyup();
                   console.log('set drag false');
                 }
            },
            showTickets: function () {
                if(this.user.tickets.length > 0)
                    this.isShowTickets = true;
            }
        }
    }
</script>
