<template>
    <div class="game__control">
        <div class="game__control__bet">

            <div class="game__betInfo">
                <div class="game__betInfo__sum">
                    <div class="game__betInfo__label">Моя ставка</div>
                    <animated-number class="game__betInfo__val" :number="betSum"> ₽</animated-number>
                </div>
                <div class="game__betInfo__chance">
                    <div class="game__betInfo__label">Шанс победы</div>
                    <animated-chance class="game__betInfo__val" :number="chance"></animated-chance>
                </div>
            </div>

            <template v-if="isEmpty(user) || ( !isEmpty(user) && user.balance > game.betValues[0] )">
                <div v-if="!isEmpty(user)" class="game__bet-button" @click="makeBet(game.id, betValue)">
                    <div class="game__bet-button__label"
                         :class="{'game__bet-button__label--riseBet' : user.tickets.length > 0}">{{makeBetLabel}}</div>
                    <transition name="opacity01" mode="out-in">
                        <div class="game__bet-button__betValue" :key="betValue">{{betValue}} ₽</div>
                    </transition>
                </div>
                <div v-else class="game__bet-button" @click="$bus.$emit('open-sidebar', 'register')">
                    <div class="game__bet-button__label">{{makeBetLabel}}</div>
                    <transition name="opacity01" mode="out-in">
                        <div class="game__bet-button__betValue" :key="betValue">{{betValue}} ₽</div>
                    </transition>
                </div>
                <div class="game__control__betValues">
                    <div v-for="v in betValuesMapped"
                         :class="{active: v == betValue}"
                         @click="setBetValue(v)"
                        class="col-xs game__control__betValues__item">
                        {{v}}
                    </div>
                </div>
            </template>

        </div>


        <template v-if="!isEmpty(user) && !isCanBet">
            <div class="game__control__no-access">
                <div style="margin-bottom: 20px">Минимальная ставка {{game.betValues[0]}} ₽. <br> Ваш баланс - <span>{{user.balance}} ₽</span></div>
                <div class="main-button"
                     @click="$bus.$emit('open-sidebar', 'withdraw')">Пополнить баланс</div>
            </div>
        </template>

        <div class="game__betInfo__tickets" v-if="!isEmpty(user)">
            <div class="btnTickets" @click="showTickets" v-if="user.tickets.length > 0">
                <span>Билеты</span>
            </div>
             <div v-else class="game__betInfo__tickets--notickets">
                 <span>Сделайте ставку, чтобы участвовать</span>
             </div>
            <transition name="fade">
                <div class="ticketsPopUp" v-if="isShowTickets && user.tickets.length > 0">
                    <div class="ticketsPopUp__header">Ваши билеты в игре</div>
                    <div @click="isShowTickets = false" class="ticketsPopUp__close"></div>
                    <div class="bTicketsList">
                        <div v-for="ticket in tickets" class="bTicketsList__item">{{ticket}}</div>
                        <div v-if="!isShowAllTickets" @click="isShowAllTickets=true" class="bTicketsList__item bTicketsList__item--more" >Еще</div>
                    </div>
                    <p>
                        Каждая ваша минимальная ставка — это место в розыгрыше. В конце игры вы сможете
                        <a href="" class="main-link"> проверить результаты</a> на Random.org
                    </p>
                </div>
            </transition>
        </div>
        <div v-else>
            <div class="game__betInfo__tickets--notickets">
                <span>Сделайте ставку, чтобы участвовать</span>
            </div>
        </div>
    </div>
</template>
<script>

    export default {
        props: ['user', 'game', 'makeBet'],
        data: ()=>({
            isShowTickets: false,
            isShowAllTickets: false,
            betValue: 0
        }),
        created: function () {
            this.betValue = this.game.betValues[0];
        },
        watch: {
            'game.betsUnderFiveSeconds': function () {
                this.betValue = this.betValuesMapped[0];
            }
        },
        computed: {
            tickets: function(){
//                console.log(user.tickets.slice(0,4));
                return !this.isShowAllTickets ? this.user.tickets.slice(0,4) : this.user.tickets

            },
            isCanBet: function () {
                return typeof this.user.balance !== 'undefined' && this.user.balance >= this.game.betValues[0]
            },
            betValuesMapped: function () {
                return this.game.betValues.map((v)=>{
                    let final_value = v;
                    for(let i=1;i<=this.game.betsUnderFiveSeconds;i++){
                        final_value = final_value * 2;
                    }
                    return final_value;
                });
            },
            makeBetLabel: function () {
                if(typeof this.user.tickets !== 'undefined' && this.user.tickets.length > 0)
                    return 'Повысить ставку';
                else
                    return 'Поставить';
            },
            betSum: function () {
                return _.sum(this.user.tickets);
            },
            chance: function () {
                if(_.isEmpty(this.user))
                    return 0;

                let gameBank = 0;

                this.game.users.map((user) => {
                    gameBank += _.sum(user.tickets); //TODO check for string
                });

                let userBets = _.sum(this.user.tickets);

                let chance  =  (userBets * 100) / gameBank;

                if(!chance)
                    chance = 0;

//                return chance > 50 ? 50 : chance;
                return chance;
            },
//            deltaChance: function () {
//                if(_.isEmpty(this.user))
//                    return 0;
//
//                let gameBank = 0;
//
//                this.game.users.map((user) => {
//                    if(this.user.id !== user.id)
//                        gameBank += _.sum(user.tickets); //TODO check for string
//                });
//
//                let userBets = _.sum(this.user.tickets);
//
//                let futureChance = (this.betValue  * 100) / gameBank;
//
//
////                if(futureChance > 50)
////                    futureChance = 50;
//
//                if(this.chance + futureChance > 100)
//                    futureChance = 100 - this.chance;
//
//                return futureChance;
//            }
        },
        methods: {
            setBetValue(value) {
                this.betValue = value;
            },
            showTickets() {
                if(this.user.tickets.length > 0){
                    this.isShowTickets = !this.isShowTickets
                }
            },
            isEmpty(value){
                return _.isEmpty(value);
            }
        }
    }
</script>
