<template>
    <div class="game__area__players__item__outer"
         v-on:mouseleave="showTickets = false"
         v-on:mouseenter="showTicket"
         :class="{'can-hover': user.id !== player.id}"
         ref="player">
        <div class="game__area__players__item"
             :style="{backgroundImage: player.color}">
             <!--:class="{'can-hover': user.id !== player.id, 'first': user.id == player.id}">-->
            <div class="game__area__players__ava__data">
                <div class="game__area__players__ava__wrap">
                    <div class="game__area__players__ava">
                        <img :src="player.avatar" alt="">
                        <span v-if="user.id == player.id" class="game__area__players__ava__you">Вы</span>
                    </div>
                </div>
                <div v-if="playerChance > 5" class="game__area__players__info">
                    <div class="game__area__players__name">{{player.name}}</div>
                    <div class="game__area__players__sum">{{player.sum}} ₽</div>
                    <div class="game__area__players__percent" v-html="$options.filters.formatPercent(playerChance)"></div>
                </div>
            </div>
        </div>
        <transition name="fade">
            <game-player-tickets :player="player" v-if="showTickets" v-on:hide="showTickets=false"></game-player-tickets>
        </transition>
    </div>
</template>
<script>
    export default {
        props: ['user', 'player', 'playerChance'],
        data: ()=>({
            showTickets: false
        }),
        watch: {
            showTickets: function (newVal) {
                //trigger mouseleave event on mobile devices
                //TODO не работает
//                if(newVal == false){
//                    this.$refs.player.dispatchEvent(new Event('touchend'))
//                }

            }
        },
        methods: {
            showTicket(){
                if(this.user.id !== this.player.id)
                    this.showTickets = true;
            },
        }
    }
</script>

