<template>
    <transition :name="transitionName" :duration="transitionDuration">
        <div class="modal" :class="className" v-if="show">
            <div class="modal__overlay"></div>
            <div class="modal__close"  @click="show=false">
                <svg role="img" class="icon-close-modal">
                    <use xlink:href="/img/icons.svg#icon-close_modal"></use>
                </svg>
            </div>
            <div class="modal__content"><slot name="content"></slot></div>
            <slot name="modal"></slot>
        </div>
    </transition>
</template>
<script>
    export default {
        props: ['className', 'id', 'transitionName', 'transitionDuration'],
        data:()=>({
            show: false
        }),
        mounted: function () {
            this.$bus.$on('open-'+this.id, () => {
                this.show=true;
            })
            this.$bus.$on('close-'+this.id, () => {
                this.show=false;
            })
        },
        watch: {
            show: function (newVal) {
                if(newVal == true)
                    $('body').addClass('noscroll');
                else
                    $('body').removeClass('noscroll')
            }
        }
    }
</script>