<template>
    <div class="sidebar">
        <div class="sidebar__overlay" @click="$emit('close')"></div>
        <div class="sidebar__sidebar">
            <div class="sidebar__sidebar__header">
                {{header}}
                <div class="sidebar__sidebar__close" @click="$emit('close')">
                    <svg role="img" class="icon-close-modal">
                        <use xlink:href="/img/icons.svg#icon-close_modal"></use>
                    </svg>
                </div>
            </div><component :is="component" :type="type"></component>
        </div>
    </div>
</template>
<script>
    export default{
        props: ['type'],
        data: ()=>({
            header: 'Регистрация'
        }),
        mounted: function () {
//          $('body').addClass('noscroll');
        },
        computed: {
          component: function () {
              if (this.type === 'register' || this.type === 'login')
                  return 'user-auth'
              if (this.type === 'withdraw')
                  return 'form-withdraw'
          }
        },
        created: function () {
            if(this.type === 'register'){
                this.header = 'Регистрация'
            }
            if(this.type === 'login'){
                this.header = 'Вход'
            }
            this.$bus.$on('set-sidebar-title', title =>{
                this.header = title
            });
        },
        destroyed: function () {
//            setTimeout(()=>{
//                $('body').removeClass('noscroll')
//            }, 700);

        }
    }
</script>