<template>
    <transition :name="transitionName" :duration="transitionDuration"
                v-on:before-enter="beforeEnter"
                v-on:enter="enter"
                v-on:leave="leave"
                v-on:before-leave="beforeLeave">
        <div class="modal" :class="className" v-if="show">
            <div class="modal__overlay"></div>
            <div class="modal__close"  @click="show=false">
                <svg role="img" class="icon-close-modal">
                    <use xlink:href="/img/icons.svg#icon-close_modal"></use>
                </svg>
            </div>
            <div class="modal__content"><slot name="content"></slot></div>
            <slot name="modal"></slot>
        </div>
    </transition>
</template>
<script>
    export default {
        props: ['className', 'id', 'transitionName', 'transitionDuration'],
        data:()=>({
            show: false
        }),
        mounted: function () {
            this.$bus.$on('open-'+this.id, () => {
                this.show=true;
            })
            this.$bus.$on('close-'+this.id, () => {
                this.show=false;
            })
        },
        watch: {
            show: function (newVal) {
                if(newVal == true)
                    $('body').addClass('noscroll');
                else
                    $('body').removeClass('noscroll')
            }
        },
        methods: {
            beforeEnter(el){
                el.style.transitionDelay='';
                let latency = 200;
                el.querySelectorAll('.modal-nav__menu__item a, .modal-nav__menu__item span').forEach((link, i)=>{
                    latency += i*30;
                    link.style.transitionDelay = latency + 'ms';
                });
            },
            enter(el, done){
                let links = el.querySelectorAll('.modal-nav__menu__item a, .modal-nav__menu__item span');
                let latency = 0;
                links.forEach((link, i)=>{
                    latency += i*30;
                });
                setTimeout(()=>{
                    done()
                }, latency);
            },
            beforeLeave(el){
                let latency = 0;
                let links = Array.from( el.querySelectorAll('.modal-nav__menu__item a, .modal-nav__menu__item span') ).reverse();
                links.forEach((link, i)=>{
                    latency += i*30;
                    link.style.transitionDelay = latency + 'ms';
                });
                el.querySelector('.modal__close').style.transitionDelay = latency + 'ms';
                el.style.transitionDelay = (latency + 400) + 'ms';
            },
            leave(el, done){
                let links = el.querySelectorAll('.modal-nav__menu__item a, .modal-nav__menu__item span');
                let latency = 0;
                links.forEach((link, i)=>{
                    latency += i*30;
                });
                setTimeout(()=>{
                    el.querySelector('.modal__close').style.transitionDelay='';
                    done()
                }, latency+400+300);
            }
        }
    }
</script>