<template>
    <div>
        <transition name="slide-top">
            <div class="notification" v-if="show" :class="className">
                <div class="notification__close" v-if="withClose" @click="show=false">
                    <div class="notification__close__cross">
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div class="notification__info">
                    <div class="notification__bold" v-if="text.bold">{{text.bold}}</div>
                    <div class="notification__text" v-if="text.main">{{text.main}}</div>
                </div>
            </div>
        </transition>
        <div style="position: fixed;top: 0;left: 0;">
            <button @click="$bus.$emit('notify', {duration: 2000, show: true, text:{main:'main', bold: 'bold'}})">notify</button>
            <button @click="$bus.$emit('notify', {className: 'error', withClose: true,duration: 1000, show: true, text:{main:'Аватар должен быть в формате\n'+
'GIF, PNG или JPG. Размер не больше \n'+
'2 мегабайт. '}})">notify error</button>
        </div>
    </div>
</template>
<script>
    let timeout;
    export default {
        props:['data', 'type'],
        data: ()=>({
            show: false,
            text:{
                main: '',
                bold: ''
            },
            duration: 2000,
            withClose: false,
            className: ''
        }),
        created: function () {
            this.$bus.$on('notify', data =>{
                this.show = data.show || true
                this.text.main = data.text.main || ''
                this.text.bold = data.text.bold || ''
                this.duration = data.duration || 2000
                this.withClose = data.withClose || false
                this.className = data.className || ''
                if(!this.withClose)
                    timeout = setTimeout(()=>{
                        this.show=false;
                    },this.duration);
            })
        }
    }
</script>