<template>
    <div class="header__block header__block_right">

            <template v-if="!isEmpty(user)">
                <div class="header__balance-block">
                    <div class="header__balance">
                        <span class="header__balance-value">
                             <animated-number :number="user.balance"></animated-number>
                        </span>
                        <span>₽</span>
                    </div>
                    <div class="header__pay-block">
                        <button class="header__pay-button header__pay-button_active">
                            <img class="header__pay-button-img" src="images/icon-pay-up.svg" alt="">
                            Пополнить
                        </button>
                        <button class="header__pay-button" @click="$bus.$emit('open-sidebar', 'withdraw')">
                            <img class="header__pay-button-img" src="images/icon-pay-down.svg" alt="">
                            Снять
                        </button>
                    </div>
                </div>
                <div class="header__ava-block">
                    <a href="#" class="header__user-name" title="Мой профиль">
                        <img class="header__ava-img" :src="user.avatar" alt="Константин">
                    </a>
                </div>
                <div class="header__user-block">
                    <div class="header__user-name-wrapper">
                        <a href="#" class="header__user-name" title="Мой профиль">
                            Константин
                        </a>
                    </div>
                    <button class="header__user-notification header__user-notification_active">
                        Сообщения
                        <span class="header__badge">
                          <span class="header__badge-value">{{user.messages}}</span>
                        </span>
                    </button>
                </div>
            </template>
            <template v-if="isEmpty(user)">
                <div class="header__profile__no-auth">
                    <div class="header__button-block">
                        <button class="header__login-button" @click="openSideBar('login')">
                            <svg role="img" class="icon-lock">
                                <use xlink:href="/img/icons.svg#icon-lock"></use>
                            </svg>
                            Вход
                        </button>
                    </div>
                    <div class="header__button-block">
                        <button class="main-button" @click="openSideBar('register')">
                            Регистрация
                        </button>
                    </div>
                </div>
             </template>

    </div>
</template>
<script>
    export default{
        props: ['user'],
        methods:{
            isEmpty: function (value) {
               return  _.isEmpty(value);
            },
            openSideBar: function (type) {
                this.$bus.$emit('open-sidebar', type);
            }
        }
    }
</script>