<template>
    <div class="auth">
        <transition name="form-step" mode="out-in">
            <div class="auth__step" v-if="step === 1" key="form_step_1">
                <div class="auth__content">
                    <div class="reg__tabs">
                        <div class="reg__tab"
                             @click.stop="form='phone'"
                             :class="{active: form == 'phone'}">
                            <svg role="img" class="icon icon-phone">
                                <use v-if="form == 'phone'" xlink:href="/img/icons.svg#icon-phone_black" class="tab_icon"></use>
                                <use v-else xlink:href="/img/icons.svg#icon-phone_white" class="tab_icon"></use>
                            </svg>По телефону</div>
                        <div class="reg__tab"
                             @click.stop="form='email'"
                             :class="{active: form == 'email'}">
                            <svg role="img" class="icon icon-mail">
                                <use v-if="form == 'email'" xlink:href="/img/icons.svg#icon-mail_black" class="tab_icon"></use>
                                <use v-else xlink:href="/img/icons.svg#icon-mail_white" class="tab_icon"></use>
                            </svg>По e-mail</div>
                    </div>
                    <component :is="'form-' + form" v-on:set-step="setStep($event)"></component>
                </div>
                <div class="auth__content auth__content--social">
                    <div class="sidebar__sidebar__subHeader">Через соц. сети</div>
                    <div class="authSocial">
                        <a href="" class="authSocial__item authSocial__item--vk">
                            <span>Вконтакте</span>
                            <svg role="img" class="icon">
                                <use xlink:href="/img/icons.svg#icon-vk"></use>
                            </svg>
                        </a>
                        <a class="authSocial__item authSocial__item--fb">
                            <span>Facebook</span>
                            <svg role="img" class="icon">
                                <use xlink:href="/img/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                        <a class="authSocial__item authSocial__item--ok">
                            <span>Одноклассники</span>
                            <svg role="img" class="icon">
                                <use xlink:href="/img/icons.svg#icon-ok"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="auth__step" v-else-if="step === 2" key="form_step_2">
                <div class="auth__content">
                    <form-confirm-sms v-if="form=='phone'" v-on:set-step="setStep($event)"></form-confirm-sms>
                    <form-confirm-email v-if="form=='email'" v-on:set-step="setStep($event)"></form-confirm-email>
                </div>
            </div>
            <div class="auth__step" v-else-if="step === 3" key="form_step_3">
                <div class="auth__content auth__content--avatar">
                    <form-avatar></form-avatar>
                </div>
            </div>
        </transition>
    </div>
</template>
<script>
    export default{
        props:['type'],
        data: ()=>({
            step: 1,
            form: 'phone',
            formData:{

            }
        }),
        computed: {

        },
        methods:{
            setStep(data){
                if(data.step){
                    this.step = data.step;
                }
            }
        }
    }
</script>