<template>
    <div class="you-win">
        <div class="you-win__confetti"></div>
        <div class="you-win__spinner"></div>
        <div class="you-win__title">
            <img src="/images/title.png"
                 srcset="/images/title@2x.png 2x,
             /images/title@3x.png 3x">
        </div>
        <div class="you-win__ava">

        </div>
        <div class="you-win__bottom">
            <div class="you-win__headline">
                </p>Поздравляем! Вы выиграли <span>{{5000 | numberformat(0, '.', ' ')}} ₽</span>
            </div>
            <p>Xcash берет с каждого розыгрыша комиссию 10%. Это позволяет нам зарабатывать
                и оставаться честными. <b class="bold">4 500 ₽</b> зачислены на ваш баланс.
            </p>
            <div class="btn" @click="close">Вернуться в игру</div>
        </div>

    </div>
</template>
<script>
    export default{
        data: ()=>({

        }),
        methods: {
            close: function () {
                this.$emit('close');
            }
        }
    }
</script>