<template>
    <div class="v-winners">
        <div class="v-winners-list-wrap">
            <div class="headline">Победители предыдущих розыгрышей</div>

            <transition-group name="winners-list" class="v-winners-list" tag="div" :duration="400">
                <div v-for="(winner, i) in winners" v-bind:key="winner.id">
                    <winner-one :winner="winner"></winner-one>
                </div>
            </transition-group>

            <div class="v-winners__addMore">
                <div class="btn btn--addMore" @click="addWinners">Показать еще 20</div>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        data: () => ({
            winners: [
                {
                    id: 234234,
                    name: 'Сергей Виниченко',
                    avatar: '/images/content/ava1.png',
                    gain: '269',
                    bet: '5343',
                    percent: 34.5,
                    ago: '4',
                    tickets: [
                        '346',
                        '678',
                        '867',
                        '346',
                        '678',
                        '867',
                        '346',
                        '678',
                        '867',
                        '346',
                        '678',
                        '867',
                    ],
                    members: [
                        {
                            avatar: '/images/content/ava1.png',
                            link: '/dfs/sdf',
                        },
                        {
                            avatar: '/images/content/ava2.png',
                            link: '/dfs/sdf',
                        }

                    ],
                    randomOrgLink: 'https://www.random.org/'
                },
                {
                    id: 213123,
                    name: 'Алексей Смирнов',
                    avatar: '/images/content/ava2.png',
                    gain: '539',
                    bet: '1200',
                    percent: 5.7,
                    ago: '56',
                    tickets: [
                        '346',
                        '678',
                        '867'
                    ],
                    members: [
                        {
                            avatar: '/images/content/ava1.png',
                            link: '/dfs/sdf',
                        },
                        {
                            avatar: '/images/content/ava2.png',
                            link: '/dfs/sdf',
                        }

                    ],
                    randomOrgLink: 'https://www.random.org/'
                },
            ]
        }),
        created: function () {
          this.$bus.$once('roulette-end', (user)=>{
              this.winners.unshift(user);
          })
        },
        methods: {
            addWinners: function () {
                //ajax
                this.winners.push(this.winners[0]);
                this.winners.push(this.winners[1]);
            }
        }
    }
</script>
