<template>
    <div>
        <div class="winner__bg">
            <div class="winner" :class="{ active: showMore }">

                <template v-if="$currentViewport.label === 'mobile'">
                    <div class="winner__ava">
                        <img :src="winner.avatar" alt="">
                    </div>
                    <div class="winner__info">
                        <div class="winner__name">{{winner.name}}</div>
                        <div class="winner__info__values">
                            <div class="winner__gain">
                                <span class="winner__value">{{ winner.gain | numberformat(0,0, ' ') }} ₽</span>
                                <span class="winner__label">Выиграл </span>
                            </div>
                            <div class="winner__ago">
                                <span class="winner__value">{{winner.ago}}</span>
                                <span class="winner__label"> минут назад</span>
                            </div>
                            <div class="winner__chance">
                                <span class="winner__value">{{winner.percent.toFixed(1)}}%</span>
                                <span class="winner__label">Шанс </span>
                            </div>
                        </div>
                    </div>
                </template>

                <template v-else>
                    <div class="winner__user">
                        <div class="winner__ava">
                            <img :src="winner.avatar" alt="">
                        </div>
                        <div class="winner__name">{{winner.name}}</div>
                    </div>
                    <div class="winner__gain">
                        <span class="winner__label">Выиграл </span>
                        <span class="winner__value">{{ winner.gain | numberformat(0,0, ' ') }} ₽</span>
                    </div>
                    <div class="winner__chance">
                        <span class="winner__label">Шанс </span>
                        <span class="winner__value">{{winner.percent.toFixed(1)}}%</span>
                    </div>
                    <div class="winner__ago">
                        <span class="winner__value">{{winner.ago}}</span>
                        <span class="winner__label"> минут назад</span>
                    </div>

                </template>
                <div class="winner__more">
                    <div class="btn btn--winner"  :class="{ active: showMore }" @click.prevent='toggleMore'>{{btnLabel}}</div>
                </div>
            </div>
        </div>
        <transition name="winner-detail" :duration="700"
                    v-on:leave="leave"
                    v-on:enter="enter">
            <div class="winner__details__outer" v-if="showMore">
                <div class="winner__details">
                    <div class="winner__details__content">
                        <div class="winner__details__top flex">
                            <div class="winner__details__bet">
                                <span class="winner__label">Ставка</span>
                                <span class="winner__value">{{ winner.sum | numberformat(0,0, ' ') }} ₽</span>
                            </div>
                            <div class="winner__details__randomLink">
                                <a :href='winner.randomOrgLink' class="btn btn--winner">проверить на random.org</a>
                            </div>
                            <div class="bTicketsList" v-if="winner.tickets.length > 0">
                                <span class="winner__label">Билеты</span>
                                <div class="bTicketsList__item" v-for="ticket in winner.tickets">{{ticket}}</div>
                            </div>
                        </div>
                        <div class="winner__details__members">
                            <div class="winner__details__members__label">Другие участники</div>
                            <div class="winner__details__members__items">
                                <a :href="member.link" class="winner__details__members__item" v-for="member in winner.members">
                                    <img :src="member.avatar" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>
<script>
    export default{
        props: ['winner'],
        data: () => ({
            showMore: false,
            transitionHeight: 0
        }),
        methods: {
            toggleMore: function () {
                this.showMore = this.showMore == false ? true : false;
            },
            enter: function (el) {
                el.style.height = el.scrollHeight + 'px';
                setTimeout(()=>{
                    el.style.height='';
                }, 400);
            },
            leave: function (el) {
                el.style.height = el.clientHeight + 'px';
            }
        },
        computed: {
            btnLabel: function () {
                return this.showMore == true ? 'свернуть' : 'подробнее'
            }
        }
    }
</script>
<style>
    .slide-fade-enter-active {
        transition: all .3s ease;
    }
    .slide-fade-leave-active {
        transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
        transform: translateX(10px);
        opacity: 0;
    }
</style>