<template>
    <form class="form form--confirm-sms">
        <div class="form__control">
            <div class="form__message">
                Мы отправили проверочный код на
                ваш номер **09
            </div>
        </div>
        <div class="form__control">
            <div class="input__group input__group--flex">
                <label for="sms_code" class="input">
                   <div class="input__label">Код из смс</div>
                    <input v-model.number="code" id="sms_code">
                </label>
                <div class="form__sms-timer" @click.prevent="sendAgain">
                    <span>{{displayCountdown}}</span>
                    <a>Отправить еще раз</a>
                </div>
            </div>
        </div>
        <transition name="opacity03">
            <div class="form__error" v-if="errors">
                <div v-for="field in errors">
                    <span v-for="error in field">{{error}}</span>
                </div>
            </div>
        </transition>
        <div class="form__control">
            <button class="main-button" type="submit" @click.prevent="submit">Зарегистрироваться</button>
        </div>
        <div class="form__control">
            <button class="btn-form-back" type="button" @click="$emit('set-step', {step: 1});">Ввести другой номер</button>
        </div>

    </form>
</template>
<script>
    import {maxchars} from '../../directives'
    let interval;
    export default {
        directives:{
            Maxchars: maxchars //TODO не работает
        },
        props: {
            countdown: {
                type: Number,
                default: 60
            }
        },
        data:()=>({
            code: '',
            errors: null,
            displayCountdown: 0
        }),
        created: function () {
            this.startTimer();
        },
        watch: {
            displayCountdown: function (val) {
                if(val==0){
                    clearInterval(interval);
                    alert('timer is over');
                }
            }
        },
        methods: {
            submit(){
                axios.post('/api/auth/sms', {code: this.code})
                    .then(data=>{
                        this.errors = null;
                        this.$emit('set-step', {step: 3});
                    }).catch(error=>{
                        this.errors = error.response.data.errors
                    })
            },
            startTimer(){
                clearInterval(interval);
                this.displayCountdown=this.countdown;
                interval = setInterval(()=>{
                    this.displayCountdown--;
                },1000)
            },
            sendAgain(){
                //axios.post...
                this.startTimer();
            }
        }
    }
</script>
