<template>
    <form class="form" enctype="multipart/form-data">
        <div class="form__control">
            <label for="input_nickname" class="input input--email">
                <div class="input__label">Придумайте ник</div>
                <input id='input_nickname' type="text" v-model="nick">
            </label>
        </div>
        <div class="form__control">
            <div class="auth__avatar">
                <div class="auth__avatar__label">
                    Выберите аватар или
                    <label for="file_upload" class="auth__avatar__upload">
                        загрузите свой
                        <input ref="input_file" @change="onFileChange($event.target.files)" id="file_upload" type="file" accept="image/*">
                    </label>
                </div>
                <div class="auth__avatar__list">
                    <!--<div class="row">-->
                        <div class="auth__avatar__item"
                             v-if="uploadedImage"
                             :class="{selected: selected == 'upload'}">
                            <div class="auth__avatar__item__wrap">
                                <div @click="removeImage" class="auth__avatar__deleteUploaded">
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="auth__avatar__item__uploaded" @click="selected = 'upload'" :style="{ backgroundImage: `url('${uploadedImage}')` }">

                                    <!--<img :src="uploadedImage" alt="" @click="selected = 'upload'">-->
                                </div>
                            </div>
                        </div>
                        <div class="auth__avatar__item" v-for="avatar in avatars" :class="{selected: avatar.id == selected}">
                            <div class="auth__avatar__item__wrap">
                                <img :src="avatar.src" alt="" @click="selected = avatar.id">
                            </div>
                        </div>
                    <!--</div>-->
                </div>
            </div>
        </div>
        <transition name="opacity03">
            <div class="form__error" v-if="errors">
                <div v-for="field in errors">
                    <span v-for="error in field">{{error}}</span>
                </div>
            </div>
        </transition>
        <div class="form__control">
            <button class="main-button" type="submit">Завершить регистрацию</button>
        </div>
    </form>
</template>
<script>
    const IMAGE_MAX_SIZE = 2; //mb TODO: вынести эту и все константы в глобальный скоуп
    export default{
        data:()=>({
            nick: '',
            avatars: null,
            selected: null,
            errors: null,
            uploadedImage: null
        }),
        created: function () {
            this.$bus.$emit('set-sidebar-title', 'Последний шаг')
            this.getAvatars()
        },
        methods: {
            onFileChange(files){
                if (!files.length)
                    return;

                if(files[0].size/1024/1024 > IMAGE_MAX_SIZE){
                    this.$bus.$emit('notify', {
                        className: 'error',
                        withClose: true,
                        text:{
                            main: 'Аватар должен быть в формате GIF, PNG или JPG. Размер не больше 2 мегабайт.'
                        }
                    })
                    return;
                }

                this.createImage(files[0]);
                this.selected = 'upload'
            },
            removeImage(){
              this.$refs.input_file.value = ''
              this.uploadedImage = null
                if(this.selected === 'upload')
                    this.selected = null
            },
            createImage(file) {
                var image = new Image();
                var reader = new FileReader();
                var vm = this;

                reader.onload = (e) => {
                    this.uploadedImage = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            submit: function () {
                console.log('asd');
                axios.post('/api/auth/register/', {nick: this.nick})
                    .then(res=>{
                        this.errors = null;
                    })
                    .catch(error=>{
                        this.errors = error.response.data.errors
                    })
            },
            getAvatars(){
                axios.get('/api/auth/avatars')
                    .then(res=>{
                        this.avatars = res.data;
                    })
                    .catch(error=>{
                        alert(error.response)
                    })
            },
            uploadAvatar(){
                alert('upload!')
            }
        }
    }
</script>