<template>
    <form class="form" @submit.prevent="submit">
        <div class="form__control">
            <label for="input_email" class="input input--email">
                <div class="input__label">Электронная почта</div>
                <input id='input_email' type="text" v-model="email">
            </label>
        </div>
        <div class="form__control">
            <input v-model="agree"
                   true-value="1"
                   false-value=""
                   id="input_agreement"
                   type="checkbox"
                   class="input--checkbox">
            <label for="input_agreement">
                Я принимаю <a href="/agreement">условия соглашения</a>
            </label>
        </div>
        <transition name="opacity03">
            <div class="form__error" v-if="errors">
                <div v-for="field in errors">
                    <span v-for="error in field">{{error}}</span>
                </div>
            </div>
        </transition>
        <div class="form__control">
            <button class="main-button" type="submit">Зарегистрироваться</button>
        </div>
    </form>
</template>
<script>
    export default{
        data:()=>({
            email: '',
            agree: '',
            errors: null
        }),
        methods: {
            submit: function () {
                console.log('asd');
                axios.post('/api/auth/register/email', {email: this.email, agree: this.agree})
                    .then(res=>{
                        this.errors = null;
                        this.$emit('set-step', {step: 2});
                    }).catch(error=>{
                        this.errors = error.response.data.errors
                    })
            }
        }
    }
</script>