<template>
    <form class="form" @submit.prevent="submit">
        <div class="form__control" v-on:mouseleave="showCodes=false">
            <label for="input_phone" class="input input--phone" ref='input'>
                <div class="input__label">Номер телефона</div>
                <div class="flex flex-align-center">
                    <transition name="opacity02">
                        <span class="flag" v-if="selectedCode" @click="showCodes=true">
                            <img :src="selectedCode.flag" alt="">
                        </span>
                    </transition>
                    <the-mask :mask="mask" v-model="input"></the-mask>
                    <!--<input id="input_phone" type="text" v-model="input">-->
                </div>
            </label>
            <transition name="fade">
                <select-phone-code
                        :input="input"
                        :codes="codes"
                        :selected.sync="selectedCode"
                        :show.sync="showCodes"></select-phone-code>
            </transition>
        </div>
        <div class="form__control">
            <input v-model="agree"
                   true-value="1"
                   false-value=""
                   id="input_agreement"
                   type="checkbox"
                   class="input--checkbox">
            <label for="input_agreement">
                Я принимаю <a href="/agreement">условия соглашения</a>
            </label>
        </div>
        <transition name="opacity03">
            <div class="form__error" v-if="errors">
                <div v-for="field in errors">
                    <span v-for="error in field">{{error}}</span>
                </div>
            </div>
        </transition>
        <div class="form__control">
            <button class="main-button" type="submit">Зарегистрироваться</button>
        </div>
    </form>
</template>
<script>
//import MaskedInput from 'vue-masked-input'
//    import MaskedInput from 'vue-text-mask'
    import {TheMask} from 'vue-the-mask'

    export default{
        components: {
            TheMask
        },
        data:()=>({
            input: '',
            agree: '',
            selectedCode: null,
            codes:[],
            showCodes: false,
            errors: null
        }),
        computed: {
            mask: function () {
                if(this.selectedCode !== null){
                    let mask = '+'
                    for(let i=1;i<=this.selectedCode.code.replace('+','').length;i++){
                        mask += '#'
                    }
                    return mask + ' ### ###-##-##';
                }else{
                    return '+### ### ###-##-##'
                }
            }
        },
        watch: {
            selectedCode: function (newVal) {
                this.$refs.input.querySelector('input').focus()
                if(newVal !== null)
                    this.input = newVal.code;

            },
            input: function (newVal) {
//                if(this.input.length > 4 && this.selectedCode) {
//                    this.showCodes = false
//                }else if(newVal.length > 1){
//                    this.showCodes = true
//                }
            }
        },
        created: function () {
            this.getCodes()
        },
        methods: {
            getCodes: function () {
                axios.get('/api/phone_codes')
                    .then(res=>{
                        this.codes = res.data
                        this.selectedCode = res.data[0]
                    }).catch(error => {
                        alert(error.response.data.message);
                    })
            },
            submit: function () {
                axios.post('/api/auth/register/phone', {phone: this.input, agree: this.agree})
                    .then(res=>{
                        this.errors = null;
                        this.$emit('set-step', {step: 2});
                    }).catch(error=>{
                        this.errors = error.response.data.errors
                    })
            }
        }
    }
</script>