<template>
    <div class="phoneCodes" v-if="show && codesMapped.length > 0">
        <div class="phoneCodes__items">
            <vue-scroll :ops="scrollOptions">
                <div class="phoneCodes__item"
                     v-for="code in codesMapped"
                     @click="select(code)">
                    <div class="phoneCodes__item__flag">
                        <img :src="code.flag" alt="">
                    </div>
                    <div class="phoneCodes__item__code">{{code.code}}</div>
                    <div class="phoneCodes__item__name">{{code.name}}</div>
                </div>
            </vue-scroll>
        </div>
    </div>
</template>
<script>
    export default{
        props: ['input', 'codes', 'show'],
        data: () =>({
            scrollOptions: {
                scrollContent: {
                    padding: false
                },
                vBar: {
                    background: '#000',
                    opacity: 0.4,
                    keepShow: true
                }
            }
        }),
        watch: {
            input: function (newVal) {
                let input = newVal.replace('+','')
                if(newVal.length == 0){
//                    this.$emit('update:show', true)
                    this.$emit('update:selected', null);
                }

                let cortedCodes = this.codes.sort((a,b)=>{
                    return a.code.length - b.code.length;
                });

                let index = _.findLastIndex(cortedCodes, code => {
                    return new RegExp('^' + code.code.replace('+','') + '.*').test(input);
                });

                if(index > -1) {
                    this.$emit('update:selected', cortedCodes[index]);
                }else{
                    this.$emit('update:selected', null);
                }

            },
        },
        methods: {
            select: function (code) {
                this.$emit('update:show', false);
                this.$emit('update:selected', code);
            }
        },
        computed: {
          codesMapped: function () {
            let filtered = this.codes.filter(code => code.code.includes(this.input));
            if(filtered.length > 0)
                return filtered
            else
              return this.codes
          }  
        }

    }
</script>
<style>
    .vuescroll-vertical-rail{
        border-radius: 0 !important;
        /*right: 10px !important;*/
    }
    .vuescroll-vertical-scrollbar{
        /*right: 10px !important;*/
        border-radius: 0 !important;
    }
</style>
