<template>
    <div class="withdraw__form" v-if="option">
            <form class="form" @submit.prevent="submit">
                <div class="form__control">
                    <label for="withdraw_value" class="input input--email">
                        <div class="input__label">{{option.field_label}}</div>
                        <input v-model="value" id='withdraw_value' type="text">
                    </label>
                </div>
                <div class="form__control withdraw__amount">
                    <label for="withdraw_amount" class="input">
                        <div class="input__label">Сумма</div>
                        <span class="rub">₽</span>
                        <input v-model.trim="amount"
                               @keyup="formatMoney"
                               placeholder="0" id="withdraw_amount">
                    </label>
                    <div class="withdraw__penalty">
                        <div>Комиссия <span>{{option.penalty}}%</span></div>
                    </div>
                </div>
                <transition name="opacity03">
                    <div class="form__error" v-if="errors">
                        <div v-for="field in errors">
                            <span v-for="error in field">{{error}}</span>
                        </div>
                    </div>
                </transition>
                <div class="form__control">
                    <button v-if="!amount" class="main-button" type="submit">{{'Введите сумму'}}</button>
                    <button v-else class="main-button" type="submit">{{'Снять ' + withdrawAmount + ' ₽'}}</button>
                </div>
            </form>
    </div>
</template>
<script>
    export default {
        props: ['option'],
        data: ()=>({
            value: '',
            amount: '',
            errors: null
        }),
        computed: {
            withdrawAmount: function () {
                return ( parseFloat(this.amount) * ((100 - parseFloat(this.option.penalty)) / 100) ).toFixed(2)
            }
        },
        watch:{
            option: function () {
                this.value = ''
            }
        },
        methods: {
            formatMoney(){
                //this.amount = this.$options.filters.numberformat(this.amount, 0, '.', ' ');
            },
            submit(){
                axios.post('/api/withdraw/make', {
                        id: this.option.id,
                        value: this.value,
                        amount: this.amount,
                    })
                    .then(data=>{
                        this.errors = null;
                        this.$bus.$emit('notify', {
                            text:{
                                main: "Вывод средств прошел успешно"
                            }
                        })
                        this.$bus.$emit('close-sidebar')
                        //close sidebar
                        //notify user
                    }).catch(error=>{
                        this.errors = error.response.data.errors
                    })
            }
        }
    }
</script>