<template>
    <div class="withdraw__select">
        <div class="withdraw__select__options" v-show="options">
            <div v-for="option in options"
                 @click="$emit('update:selected', option.id)"
                 class="withdraw__select__option"
                :class="{selected: option.id === selected}">
                <div class="withdraw__select__option__img">
                    <img :src="option.icon" alt="">
                </div>
                {{option.name}}
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['options', 'selected'],
        data: ()=>({
        }),
    }
</script>