<template>
    <div class="withdraw">
        <withdraw-select :options="options" :selected.sync="selectedId"></withdraw-select>
        <transition name="slide-right">
            <withdraw-form :option="option"></withdraw-form>
        </transition>
    </div>
</template>
<script>
    import withDrawSelect from './withdraw_select.vue'
    import withDrawForm from './withdraw_form.vue'

    export default {
        props: ['type'],
        components:{
            'withdraw-select': withDrawSelect,
            'withdraw-form': withDrawForm
        },
        data: ()=>({
            options: null,
            selectedId: null
        }),
        created: function () {
            this.$bus.$emit('set-sidebar-title', 'Вывод средств')
            this.getOptions()
        },
        computed: {
          option: function () {
              return  _.find(this.options, {'id': this.selectedId})
          }  
        },
        methods: {
            getOptions(){
                axios.get('/api/withdraw/options')
                    .then(res=>{
                        this.options = res.data
                        this.selectedId = res.data[0].id
                    }).catch(error => {
                        alert(error.response)
                    })
            }
        }
    }
</script>