.main-button {
  display: block;
  position: relative;
  height: 55px;
  width: 100%;
  background: linear-gradient(to bottom, #ffd962, #ff9c28);
  box-shadow: inset 0 3px 0 1px rgba(255, 255, 255, 0.35), inset 0 0 5px 0 rgba(255, 255, 255, 0.65);
  border: solid 1px #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 53px;
  text-align: center;
  color: $darkText;
  padding: 0 25px;
  cursor: pointer;
  outline: none;
  &_nopad {
    padding: 0;
  }
  @media (min-width: 1024px) {
    &:hover {
      background: linear-gradient(to bottom, #ffbc1c, #ff3f00);
      color: $white;
    }
  }
  &:active {
    background: #ff6308;
    box-shadow: inset 0 3px 0 1px rgba(0, 0, 0, 0.35);
    color: $white;
  }
}

.btn{
  font-size: 12px;
  line-height: 40px;
  font-weight: bold;
  background-color: #ffffff;
  box-shadow: inset 0 -3px 0 0 rgba(219, 212, 225, 0.56);
  color: #2b0a00;
  padding: 0 18px;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  border: solid 1px transparent;
  text-align: center;
  transition: all 0.3s ease;
  text-decoration: none;
}

.btn.btn--winner{
  min-width: 106px;
}

.btn.btn--winner:hover{
  background: #ffdd71;
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.1);
}

.btn.btn--winner:active{
  box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, 0.75);
  background-color: #1d1523;
  border: solid 1px rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.btn{
  &--addMore{
    color: #fff;
    line-height: 59px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
    font-family: "sourcesans", Helvetica, Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
  }
  &--addMore:hover{
    background: #fff;
    color: #2b0a00;
  }
}

.btnTickets{
  font-size: 12px;
  background-color: #413947;
  display: inline-block;
  line-height: 23px;
  padding: 0 8.5px;
  padding-bottom: 2px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  text-align: center;
  &:hover{
    background-color: #ffdd71;
    color: black;
  }
  &:active{
    background: #ff6308;
    color: #fff;
    box-shadow: inset 0 2px 0 1px rgba(0, 0, 0, 0.35);
  }
  &:after{
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6.1px 3.5px 0 3.5px;
    border-color: grey transparent transparent transparent;
    display: inline-block;
    color: #fff;
    margin-left: 5.5px;
  }
  &:hover:after{
    border-color: black transparent transparent transparent;
  }
  &:active:after{
    border-color: #fff transparent transparent transparent;;
  }
}

.btn--riseBet{
  display: table-cell;
  max-width: 146px;
  padding: 0 10px;
  line-height: initial;
  font-size: 18px;
}

.btn-form-back{
  line-height: 53px;
  border: solid 1px rgba(255, 255, 255, 0.1);
  color: #ffdd71;
  font-size: 16px;
  background: none;
  text-align: center;
  width: 100%;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-out;
  &:hover{
    border: solid 1px #FFDD71;
  }
}
