*{
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  min-height: 100%;
  color: #fff;
}

ul{
  margin: 0;
  padding: 0;
}

html{
  position: relative;
}

body {
  min-height: 100%;
  //background-image: linear-gradient(to bottom, #630d96, #23055f);
  background: linear-gradient(to bottom, #31064a, #11022f);
  font: 14px "sourcesans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  &.noscroll{
    height: 100vh;
    overflow: hidden;
  }
}

/*sticky*/
//html, body {
//  height: 100%;
//}
//.page-wrap {
//  min-height: 100%;
//  /* equal to footer height */
//  margin-bottom: -70px;
//}
//.page-wrap:after {
//  content: "";
//  display: block;
//}
//.site-footer, .page-wrap:after {
//  height: 142px;
//}
//.site-footer {
//  background: orange;
//}

body:after{
  content: " ";
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  background-image: radial-gradient($overlay-dot-color 33%, transparent 33%);
  background-size: 5px 5px;
  z-index: -1;
}

.overlay {
  flex: 1;
  /*sticky*/

}

#app{
  flex: 1;
}

.main-link {
  color: $accentText;
  text-decoration: none;
  @media (min-width: $hoverMinWidth) {
    &:hover {
      text-decoration: underline;
    }
  }
  &:active {
    color: $white;
    text-decoration: underline;
  }
}

.headline{
  font-family: montserrat,  Helvetica, Arial, sans-serif;
  font-size: 35px;
  font-weight: 600;
  @media (max-width: $tablet) {
    font-size: 19px;
  }
}

p{
  line-height: 1.5;
  font-weight: 300;
}

*::selection{
  background: rgba(255, 221, 113, 0.99);
  opacity: 1;
  color: #2b0a00;
}

.blur-svg{
  display: none;
}