.edges {
  display: block;
  position: relative;
  padding: 33px 0;
  @media(max-width: $laptop){
    padding-bottom: 20px;
  }
  @media(max-width: $tablet){
    padding: 15px 0;
  }
  &__modal-open{
    line-height: 30px;
    padding: 0 10px;
    background-color: rgba(255,255,255,0.2);
    @media(min-width: $tablet){
      display: none;
    }
  }
  &__wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    padding-right: 60px;
    @media(max-width: $laptop){
      padding-right: 0;
      flex-wrap: wrap;
    }
    @media(max-width: $tablet){
      align-items: center;
    }
  }

  &__item {
    flex: 1 0 100px;
    position: relative;
    min-height: 75px;
    padding: 11px 45px 10px 83px;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: #ffffff;
    @media(max-width: $laptop){
      padding-top: 0;
      padding-right: 15px;
    }
    @media(max-width: $tablet){
      display: none;
      flex: 1 0 100%;
    }

  }
  &__item-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 75px;
    width: 65px;
  }
  &__online-counter {
    position: absolute;
    top: 13px;
    right: 0;
    @media(max-width: $tablet){
      position: relative;
      flex: auto;
      top: auto;
      text-align: right;
      font-size: 14px;
    }
    @media(max-width: $laptop) and (min-width: $tablet) {
      position: relative;
      flex: 1 0 100%;
      text-align: center;
      &__outer{
        display: inline-block;
      }
    }
  }
  &__online-counter-value {
    display: block;
    position: relative;
    font-size: 26px;
    line-height: 28px;
    text-align: left;
    color: $white;
    padding-left: 22px;
    @media(max-width: $laptop){
      display: inline-block;
      font-size: 18px;
    }
    @media(max-width: $tablet){
      font-size: 14px;
      line-height: normal;
      padding-left: 15px;
    }
  }
  &__online-counter-icon {
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    width: 19px;
    height: 21px;
    @media(max-width: $laptop){
      width: 14px;
      height: 19px;
    }
    @media(max-width: $tablet){
      top: 3px;
      width: 12px;
      height: 15px;
    }
  }
  &__online-counter-title {
    display: block;
    position: relative;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: $white;
    text-transform: lowercase;
    @media(max-width: $laptop){
      display: inline-block;
    }
    @media(max-width: $tablet){
      font-size: 14px;
    }
  }
  &--popup{
    margin-bottom: 20px;
  }
  &--popup &__item{
    padding-right: 0;
    margin-bottom: 20px;
  }
  &--popup &__item{
    display: block;
  }
  &--popup &__item span{
    display: inline-block;
  }
}