footer{
  border-top: solid 1px rgba(255, 255, 255, 0.15);
  line-height: 67px;
  /*sticky*/
  //position: absolute;
  //left: 0;
  //bottom: 0;
  //height: 69px;
  //width: 100%;
}

.seoText{
  margin: 0 8px;
  margin-bottom: 30px;
}

.footer{
  a{
    font-size: 16px;
  }
  &__copy{
    font-size: 20px;
  }
  &__links{
    font-size: 16px;
    line-height: 1.81;
    a{
      text-decoration: none;
      margin: 0 10px;
    }
  }
  &__socLinks{
    &__outer {
      div {
        display: inline-block;
        padding: 0 25px;
        border-left: 1px solid rgba(255, 255, 255, 0.15)
      }
      div:last-child {
        border-right: 1px solid rgba(255, 255, 255, 0.15)
      }
      span, &__icon {
        vertical-align: middle;
      }
      a {
        color: #fff;
        font-size: 16px;
        text-decoration: none;
      }
      @media (max-width: $tablet){
        display: flex;
        justify-content: space-between;
        > div{
          //float: left;
          width: 50%;
          flex:1 0 50%;
          text-align: center;
          line-height: normal;
          padding: 17px 0 12px;
          span{
            display: block;
            margin-top: 8px;
          }
          a{
            display: block;
            font-size: 16px;
          }
          .icon-vk{
            width: 38px;
            height: 23px;
          }
          .icon-telegram{
            width: 27px;
            height: 24px;
          }
        }
      }
    }
    &__icon {
      vertical-align: middle;
      padding-right: 5px;
    }
    @media (max-width: $tablet){
      max-height: 82px;
      //line-height: normal;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }
  }
  &__row{
    @media (max-width: $tablet){
      flex-direction: column;
      align-items: stretch;
    }
  }
  @media (max-width: $tablet){
    .footer__socLinks{
      order: -1;
    }
    .footer__links{
      padding: 15px;
    }
    .footer__copy{
      padding: 15px 15px 0;
      line-height: normal;
    }
    .main-link{
      margin-left: 0;
      margin-right: 30px;
    }
  }
}