.form{
  &__control{
    margin-bottom: 15px;
    position: relative;
    input{
      color: #210936;
      font-size: 26px;
      outline: none;
      border: none;
      background-color: #f8f8f8;
      max-width: 200px;
    }
    .input{
      //display: flex;
      //flex-wrap: wrap;
      //align-items: center;
      padding: 10px 14px;
      display: block;
      background-color: #f8f8f8;
      border: solid 1px #000000;
      cursor: text;
      &__label{
        color: #9a8b86;
        letter-spacing: 1.1px;
        font-weight: bold;
        text-transform: uppercase;
      }
      .form__label{
        //flex: 0 0 100%;
      }
      &--phone{
        .flag{
          margin-right: 9px;
          cursor: pointer;
          img{
            vertical-align: middle;
          }
        }
        input{
          max-width: 210px;
        }
      }
      &--checkbox{
        display: none;
      }
      &--checkbox + label{
        cursor: pointer;
        vertical-align: middle;
        display: inline-block;
        font-size: 14px;

        margin-bottom: 5px;
        a{
          color: $accentText;
          text-decoration: none;
        }
      }
      &--checkbox + label:before{
        cursor: pointer;
        content: "";
        display: inline-block;
        background-color: #000000;
        border: solid 1px #564f5b;
        width: 18px;
        height: 18px;
        vertical-align: bottom;
        margin-right: 7px;
      }
      &--checkbox:checked + label:before{
        background-color: #ffdd71;
        border: solid 1px #000000;
        background: #ffdd71 url('/img/icons.svg#icon-checkbox') 3px -40px no-repeat;
      }
      &__group{
        .input{
          margin-right: 15px;
        }
        &--flex{
          display: flex;
        }
      }
    }
  }
  &__control:last-child{
    margin-bottom: 0;
  }

  &__error{
    background-color: #fc3c17;
    padding: 6px 8px;
    margin: 0 1px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 20px;
  }
  &__message{
    font-size: 16px;
    font-weight: bold;
  }
  &__sms-timer{
    text-align: center;
    border: solid 1px rgba(255, 255, 255, 0.1);
    padding: 5px 15px;
    flex: 0 0 101px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    &:hover{
      a{
        color: #FFDD71;
      }
      border: 1px solid #FFDD71;
    }
    span{
      font-size: 16px;
    }
    a{
      transition: all 0.3s ease-out;
      display: block;
      font-size: 14px;
      color: #847e88;
      text-decoration: none;
    }
  }
  &--confirm-sms{
    .input{
      flex: 1;
      input{
        max-width: 100px;
      }
    }
  }
}



.phoneCodes{
  background: #fff;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 100%;
  //width: 100%;
  left: 1px;
  right: 1px;
  margin: auto;
  z-index: 1;
  border: 1px solid transparent;
  &__items{
    height: 145px;
    //padding: 6px 0;
  }
  &__item{
    cursor: pointer;
    color: #2b0a00;
    display: flex;
    align-items: center;
    padding:0 15px;
    > *{
      padding: 6px 0;
    }
    &__code{
      padding-left: 9px;
      font-size: 18px;
      flex:0 0 55px;
      border-right: 1px solid #efefef;
    }
    &__flag{
      flex: 0 0 27px;
    }
    &__flag img{
      display: block;
    }
    &__name{
      padding-left: 9px;
    }
  }
  &__item:hover{
    background: #ffdd71;
  }
  &__item:hover &__item__code{
    border-right: 1px solid #ffdd71;
  }

}
