.game {
  padding: 18px 0 18px 0;
  position: relative;
  @media (max-width: $tablet) {
    padding-top: 10px;
    padding-bottom: 0;
  }
  &__wrapper{
    //display: flex;
    //flex-direction: row;
    //align-items: stretch;
    position: relative;
    min-height: 285px;
    background-image: linear-gradient(to bottom, #382c3e, #292130);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom-color: transparent;
    @media (max-width: $tablet) {
      display: flex;
      flex-direction: column-reverse;
    }
    &:before {
      content: '';
      position: absolute;
      top: -19px;
      left: -1px;
      height: 0;
      width: calc(100% - 28px);
      border-top: 9px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 9px solid #544959;
      border-left: 15px solid transparent;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: -38px;
      left: -1px;
      height: 0;
      width: calc(100% - 14px);
      border-top: 19px solid #160b1c;
      border-right: 8px solid transparent;
      border-bottom: 19px solid transparent;
      border-left: 8px solid transparent;
      @media (max-width: $tablet) {
        content: none;
      }
    }
  }
  &__control {
    position: absolute;
    max-width: 336px;
    top:-3px;
    bottom:-3px;
    margin: auto;
    height: 100%;
    flex: 0 0 336px;
    background-image: linear-gradient(to bottom, #241a2a, #221b28);
    border-right: 1px solid #413947;
    @media (max-width: $tablet) {
      position: relative;
      flex: inherit;
      max-width: none;
      margin: 0;
      box-shadow: 0 0 20px 0 #000000;
      background-image: linear-gradient(to bottom, #241a2a, #221b28);
      border: solid 2px #ffdd71;
    }
    &__betValues{
      margin-top: 15px;
      margin-bottom: 6px;
      display: flex;
      flex-wrap: nowrap;
       &__item{
        cursor: pointer;
        border: solid 1px #564f5b;
        line-height: 28px;
        font-size: 16px;
        padding: 0 10px;
        text-align: center;
         margin-right: 16px;
      }
      &__item:last-child{
        margin-right: 0;
      }
      &__item:hover{
        background-color: #ffbd3a;
        border: solid 1px #000000;
        color: #2b0a00;
      }
      &__item.active{
        font-weight: bold;
        color: #2b0a00;
        box-shadow: inset 0 2px 0 1px rgba(0, 0, 0, 0.35);
        background-color: #ffbd3a;
        border: solid 1px #000000;
      }
    }
    &__bet{
      padding: 20px 30px;
      @media (max-width: $tablet) {
        padding: 12px 18px;
      }
    }
    &__no-access{
      display: flex;
      height: 151px;
      flex-direction: column;
      justify-content: center;
      padding: 20px 30px;
      border-top: solid 1px rgba(255, 255, 255, 0.15);
      background: black;
      text-align: center;
      margin-top: -25px;
      span{
        color: $accentText;
        font-weight: bold;
      }
      @media (min-width: $tablet) {
        width: 331px;
      }
    }
  }
  &__view {
    flex: 1 0 auto;
    padding: 20px 28px;
    //overflow: hidden; //TODO
    @media (max-width: $tablet) {
      padding: 10px 15px 15px;
    }
  }
  &__control-title {
    display: block;
    font: 35px 'montserrat';
    line-height: 40px;
    text-align: left;
    color: $white;
    //padding: 0 30px;
    //margin-top: 20px;
  }
  &__control-input {
    display: flex;
    flex-direction: row;
    //padding: 0 30px;
    margin-top: 20px;
    align-items: center;

  }
  &__bet-input {
    flex: 0 0 114px;
  }
  &__bet-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //width: 100%;
    position: relative;
    height: 75px;
    line-height: 70px;
    background: linear-gradient(to bottom, #ffd962, #ff9c28);
    box-shadow: inset 0 3px 0 1px rgba(255, 255, 255, 0.35), inset 0 0 5px 0 rgba(255, 255, 255, 0.65);
    border: solid 1px #000000;
    font-size: 24px;
    font-weight: 700;
    color: $darkText;
    padding: 0 20px;
    cursor: pointer;
    width: 275px;
    &:hover {
      background: linear-gradient(to bottom, #ffbc1c, #ff3f00);
      color: $white;
    }
    &:active {
      color: $darkText;
      background: #ffdd71;
      box-shadow: inset 0 3px 0 1px rgba(0, 0, 0, 0.35);
    }
    &__label{
      &--riseBet{
        font-size: 22px;
        padding-right: 10px;
        line-height: 19px;
      }
      line-height: initial;
    }
    &__betValue{
      font-size: 41px;
      font-weight: normal;
      flex: 0 0 50%;
      text-align: right;
    }
    //flex: 1 0 auto;
    //padding-left: 15px;
    button{
      outline: none;
    }
    @media (max-width: $tablet) {
      width: auto;
    }
  }
  &__bet-slider {
    padding-top: 10px;
    padding-bottom: 18px;
    //padding: 20px 22px;
    .vue-slider-component {
      margin-bottom: 0!important;
      cursor: pointer;
      .vue-slider-dot {
        background-color: transparent !important;
        background-image: url("/images/svg/slider-handler.svg");
        background-position:  center center;
        border-radius: 0;
        box-shadow: none;
        width: 32px !important;
        height: 23px !important;
        top: -9.5px !important;
      }
    }

    @media (min-width: $hoverMinWidth) {
      .vue-slider-dot:hover {
        background-image: url("/images/svg/slider-handler-hover.svg");
      }
    }
    .vue-slider-dot:active {
      background-image: url("/images/svg/slider-handler-active.svg");
    }
    .vue-slider-component{
      margin-top: 15px;
    }
    .vue-slider-piecewise-item {
      //&:after {
      //  content: '';
      //  position: absolute;
      //  bottom: 0;
      //  left: 3px;
      //  height: 2px;
      //  width: 1px;
      //  background: #241a2a;
      //}
      .vue-slider-piecewise-label {
        transition: color 0.4s ease;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.2) !important;
        top: -28px !important;
      }
      .vue-slider-piecewise-label:after{
        content: " ₽";
      }
    }

    &__betRandge{
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.2);
      > div{
        transition: color 0.4s ease;
      }
      > div:last-child{
        text-align: center;
      }
      .active{
        color: #fff;
      }
    }
  }

  &__betInfo{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 15px;
    @media (max-width: $tablet) {
      margin-bottom: 0;
    }
    &__sum{
      color: #ffdd71;
    }
    &__chance{
      span.decimals{
        font-size: 35px;
      }
      &__value{
        transition: color 0.7s ease;
      }
      .game__betInfo__label{
        text-align: right;
      }

    }
    &__val{
      font-size: 50px;
      line-height: 53px;
      font-weight: bold;
      @media (max-width: $tablet) {
        font-size: 35px;
        span.decimals{
          font-size: 21px;
        }
      }
    }
    &__label{
      letter-spacing: 1.1px;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
    }

    &__chanceDelta{
      color: #7ed321;
      font-size: 13px;
      font-weight: bold;
      margin-bottom: 3px;
    }
    &__tickets{
      position: relative;
      &--notickets{
        font-size: 12px;
        background-color: #413947;
        text-align: center;
        line-height: 23px;
        padding-bottom: 2px;
        color: #847e88;;
      }
      .ticketsPopUp{
        position: absolute;
        top: 25px;
        left: -1px;
        z-index: 1;
        right: -1px;
      }
      @media (min-width: $tablet) and (max-width: $laptop)  {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }
    &__bar{
      height: 7px;
      border: solid 1px rgba(255, 255, 255, 0.2);
      width: 100%;
      position: relative;
      margin-top: 12px;
      &__current,
      &__delta{
        position: absolute;
        left: 0;
        height: 5px;
        transition: width 0.3s ease;
      }
      &__current{
        background-color: #ffdd71;
        z-index: 1;
      }
      &__delta{
        background-color: #7ed321;
      }
    }
  }


  &__title{
    flex: 0 0 333px;
    //line-height: 36px;
    @media (max-width: $tablet) {
      flex: inherit;
      display: none;
    }
  }

  &__topBar{
    display: flex;
    align-items: center;
    min-height: 45px;
    @media (max-width: $tablet) {
      min-height: auto;
    }
    @media (min-width: $tablet) and (max-width: $laptop){
      min-height: auto;
      font-size: 16px;
      span{
        font-size: 22px !important;
      }
    }
  }

  &__status{
    margin-left: auto;
    font-size: 21px;
    line-height: 24px;
    @media (max-width: $tablet) {
      font-size: 14px;
    }
  }

  &__gain{
    font-size: 21px;
    span{
      font-size: 30px;
      font-weight: bold;
      color: #ffdd71;
      @media (max-width: $tablet) {
        font-size: 18px;
      }
    }
    @media (max-width: $tablet) {
      font-size: 14px;
      .icon-cash{
        width: 21px;
        height: 18px;
        margin-right: 8px;
      }
    }
  }

  &__noUsers{
    color: #847e88;
    font-size: 16px;
    padding: 47px 0 54px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    background-color: #231a28;
    p{
      font-size: 29px;
      margin: 0;
    }
    @media (max-width: $tablet) {
      padding: 23px 30px 29px;
      p{
        font-size: 19px;
      }
      div{
        font-size: 12px;
      }
    }
  }
  &__area{
    transition: all 0.3s ease;
    margin-top: 28px;
    &__players{
      white-space: nowrap;
      position: relative;
      &__outer{
        margin-left: 333px;
        @media (max-width: $tablet) {
          margin-left: 0;
        }
      }
      &__item{
        margin-right: 2px;
        overflow: hidden;
        transition: all 0.3s cubic-bezier(0.25,0.1 ,0.25, 1);
        height: 165px;
        &__outer{
          display: inline-block;
          height: 165px;
          transition: width 0.4s ease-out, opacity 0.4s 0.2s;
          will-change: width;
          width: 0;
          &.first-player{
            transition: width 0.4s ease-out;
          }
          @media (max-width: $tablet){
            height: 125px;
          }
        }
        &__outer:last-child > div{
          margin-right: 0;
        }
        @media (max-width: $tablet){
          height: 125px;
        }
      }
      &__item__outer.can-hover{
        //cursor: pointer;
      }
      &__item__outer.can-hover:hover &__item{
        transform: translateY(-10px);
        box-shadow: 0 2px 25px 0 #000000;
      }
      &__item.first{
        .game__area__players__name,
        .game__area__players__sum{
          color: #2b0a00;
        }
      }
      &__ava{
        max-width: 60px;
        font-size: 0;
        position: relative;
        @media (max-width: $tablet){
          max-width: 50px;
        }
        &__wrap{
          height: 60px;
          margin-bottom: 10px;
          @media (max-width: $tablet){
            height: 50px;
            margin-bottom: 5px;
          }
        }
        img{
          width: 100%;
          height: auto;
        }
        &__you{
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          text-align: center;
          background: rgba(0,0,0,0.5);
          font-size: 9px;
          text-transform: uppercase;
          line-height: 18px;
        }
      }
      &__info {
        margin-left: 13px;
      }
      &__name{
        font-size: 18px;
        white-space: nowrap;
        @media (max-width: $tablet) {
          font-size: 14px;
        }
      }
      &__percent{
        font-size: 31px;
        opacity: 0.4;
        color: #000000;
        span{
          font-size: 24px;
        }
        @media (max-width: $tablet) {
          font-size: 24px;
          span{
            font-size: 17px;
          }
        }
      }

    }
    @media (max-width: $tablet) {
      margin-top: 15px;
    }
  }

  //
  //&__area.game-ended{
  //  margin-left: auto;
  //}
  &__countdown{
    position: relative;
    &__time{
      font-size: 30px;
      font-weight: bold;
      color: #ffdd71;
    }
    &__plus{
      font-size: 14px;
      font-weight: bold;
      color: #7ed321;
      display: inline-block;
      position: absolute;
      right: 187px;
    }
    .blink{
      animation: timer 0.91s infinite;
    }
  }

  &__raffle{
    //margin-top: 30px;
    background-color: #ffe880;
    box-shadow: 0 0 7px 0 rgba(255, 187, 0, 0.77), inset 0 0 2px 1px #ff8300;
    padding: 5px;
    position: relative;
    width: 100%;
    &__wrap{
      height: 161px;
      display: flex;
      align-items: center;
    }
    &__inner{
      background-color: #2c2332;
      box-shadow: 0 0 2px 1px #ff8300, inset 0 0 15px 5px rgba(0, 0, 0, 0.65);
      padding: 0 20px;
      height: 151px;
      display: flex;
      align-items: center;
      transition: height 0.3s cubic-bezier(0.25,0.1 ,0.25, 1);
      position: relative;
      overflow: hidden;
    }
    &__players{
      //height: 100px;
      font-size: 0;
      white-space: nowrap;
      //overflow: hidden;
      //position: absolute;
      //top: -100px;
      //bottom: -100px;
      transition: transform 7s cubic-bezier(0.2,0,0,1);
      will-change: transform;
      &__wrap{
        z-index: 1;
        //width: 100%;
        height: 151px;
        padding: 25px 0;
      }
    }
    &__player{
      display: inline-block;
      width: 100px;
      height: 100px;
      overflow: hidden;
      position: relative;
      img{
        width: 100%;
        height: auto;
      }
      span{
        position: absolute;
        right: 5px;
        bottom: 5px;
        padding: 0 9px;
        line-height: 17px;
        font-size: 13px;
        background-color: #2c2332;
      }
      &__winner{
        position: absolute;
        left: 0;
        right: 0;
        top: 55px;
        display: flex;
        align-items: center;
        font-size: 20px;
        @media (max-width: $tablet){
          top: 0;
          bottom: 0;
        }
        &__name{
          width: 50%;
          text-align: right;
          padding-right: 70px;
          z-index: 1;
          @media (max-width: $tablet){
            font-size: 14px;
            padding-left: 15px;
          }
        }
        &__info{
          width: 50%;
          text-align: left;
          padding-left: 70px;
          @media (max-width: $tablet){
            font-size: 14px;
          }
        }
        &__value{
          color: #ffdd71;
          font-weight: bold;
          @media (max-width: $tablet){
            display: block;
          }
        }
        &__laurel{
          width: 150px;
          height: 139px;
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
        }
        @media (max-width: $tablet){
          &__info div:first-child{
            margin-bottom: 20px;
          }
        }
      }
    }

    &__caret{
      position: absolute;
      left: 50%;
      top: 0px;
      margin-left: -17px;
      img{
        //position: absolute;
        //right:0;
        //left: 0;
      }
      &.bottom{
        bottom: 0px;
        top: auto;
        transform: rotate(180deg);
      }

    }
  }



}

.vue-slider-component .vue-slider-piecewise-dot{
  height: 2px !important;
  width: 1px !important;
  background-color: #241a2a !important;
  border-radius: 0 !important;
  bottom: 0px;
  top: auto !important;
  transform: none !important;
  opacity: 0.4;
}

.ticketsPopUp{
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
  background-color: #000000;
  border: solid 1px rgba(255, 255, 255, 0.25);
  padding: 5px 13.5px;
  white-space: normal;
  &__outer{
    padding-bottom: 20px;
    position: absolute;
    z-index: 10;
    width: 336px;
    bottom: 100%;
    @media (max-width: $tablet){
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
    }
  }
  &--players{

    padding: 15px 12px;
  }
  &__close{
    cursor: pointer;
    @include sprite($tickets-close);
    position: absolute;
    top: 10px;
    right: 13px;
  }
  &__header{
    font-size: 18px;
    margin-bottom: 17px;
  }
  &__user{
    display: flex;
    font-size: 18px;
    margin-bottom: 20px;
    &__name{
      font-size: 23px;
      font-weight: bold;
      color: #ffdd71;
    }
    &__info{
      &__label{
        color: #989898;
      }
      &__value{

      }
    }
  }
  &__ava{
    margin-right: 15px;
  }

}

.vue-slider-component.vue-slider-horizontal{
  padding: 0 !important;
  padding-top: 5px !important;
}
.vue-slider-component.vue-slider-horizontal .vue-slider-dot{
  left: -8px !important;
}

.add_user_to_game{
  position: absolute;
  z-index: 10;
  cursor: pointer;
  bottom: calc(100% - 9px);
  width: 100%;
  padding: 10px;
  background: #382c3e;
}


@keyframes timer {
  0% {
    font-size: 30px;
    color: #dd5e5e;
  }

  50%{
    font-size: 34px;
    color: #dd5e5e;
  }

  100% {
    font-size: 30px;
    color: #dd5e5e;
  }
}
//
//@keyframes animationBlinkRed{
//  0% {
//    color: #fff;
//  }
//
//  15% {
//    color: #ff1818;
//  }
//
//  75% {
//    color: #ff1818;
//  }
//
//  100% {
//    color: #fff;
//  }
//}
//
//@keyframes animationBlinkGreen{
//  0% {
//    color: #fff;
//  }
//
//  15% {
//    color: #7ed321;
//  }
//
//  75% {
//    color: #7ed321;
//  }
//
//  100% {
//    color: #fff;
//  }
//}

@keyframes spinMeAround{
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.you-win{
  background: url('/images/win_background.png') no-repeat center;
  background-size: cover;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &__confetti{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('/images/confetti-2.png') repeat-x center top;
    background-size: cover;
    z-index: -1;
    @media (max-width: $tablet){
      background-size: contain;
    }
  }
  &__title{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 75px;
    padding: 0 20px;
    img{
      display: inline-block;
      max-width: 100%;
    }

  }
  &__spinner{
    position: absolute;
    width: 100%;
    height: 983px;
    top: -100px;
    background: url('/images/sun-2.png') no-repeat center 110px;
    animation: spinMeAround 5s linear infinite;
  }
  &__ava{
    margin-top: 70px;
    width: 258px;
    height: 230px;
    margin: 0 auto;
    background: url('/images/laurel-1.png') no-repeat center center;
  }
  &__bottom{
    position: relative;
    z-index: 10;
    text-align: center;
    font-size: 16px;
    max-width: 590px;
    margin: 0 auto;
    .btn{
      margin-top: 20px;
    }
  }
  &__headline{
    font-size: 31px;
    span{
      font-size: 31px;
      color: #ffdd71;
    }
  }
}


