.header {
  border-bottom: 1px solid rgba(255,255,255,0.15);
  &__content {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    height: 90px;
    padding: 0 15px;
    @media (max-width: $tablet) {
      height: auto;
      flex-wrap: wrap;
      padding: 0;
    }
  }
  &__logo-block {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 120px;
    margin-left: -60px;
    padding: 17px 0;
    z-index: 1;
    filter: brightness(1);
    @media (min-width: $hoverMinWidth) {
      &:hover {
        filter: brightness(1.1);
        transition: filter 0.1s;
      }
    }
    @media (max-width: $tablet) {
      padding: 5px 0;
      width: 86px;
      height: auto;
      margin-left: -43px;
    }
    img{
      @media (max-width: $tablet) {
        max-width: 100%;
      }
    }
  }
  &__logo {
    display: block;
  }
  &__field {
    position: relative;
    flex: 1 0 100px;
  }
  &__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    &_left {
      justify-content: flex-start;
      @media (max-width: $tablet) {
        justify-content: space-between;
      }
    }
    &_right {
      justify-content: flex-end;
      @media (max-width: $tablet) {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  &__lang-block {
    flex: 0 0 auto;
  }
  &__nav-block {
    flex: 0 0 auto;
    padding: 0 12px;
    font-size: 0;
    @media(max-width: $tablet){
      display: none;
    }
  }
  &__nav-link {
    display: inline-block;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    color: $opacityText;
    text-decoration: none;
    padding: 0;
    margin: 0 12px;
    transition: color 0.1s;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background: transparent;
      transition: background 0.1s;
    }
    @media (min-width: $hoverMinWidth) {
      &:hover {
        color: $accentText;
        &:before {
          background: rgba(255, 221, 113, 0.3);
        }
      }
    }
    &:active {
      color: $white;
      &:before {
        background: rgba(255, 255, 255, 0.3);
      }
    }
    &_active {
      color: $accentText!important;
      cursor: default!important;
      @media (min-width: $hoverMinWidth) {
        &:hover {
          color: $accentText!important;
        }
      }
      &:before {
        background: transparent!important;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: -36px;
        left: 0;
        height: 4px;
        width: 100%;
        background-color: $accentText;
      }
    }
    &_with-notification {
      margin-right: 35px;
      .header__badge {
        transform: scale(1);
        transition: transform 0.1s;
      }
    }
  }
  &__balance-block {
    position: relative;
    flex: 0 0 auto;
    //height: 90px;
    padding: 14px 0;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 0;
    @media (max-width: $tablet) {
      font-size: 14px;
      display: flex;
      flex: 1;
      padding: 0;
      align-items: center;
      background: none;
      .header__balance{
        padding: 0 15px;
        font-size: 20px;
        > span:last-child{
          color: #ffde68;
        }
      }
    }
    @media (min-width: $tablet) and (max-width: $laptop) {
      padding-right: 20px;
    }
  }
  &__balance {
    display: inline-block;
    font-size: 35px;
    font-weight: bold;
    color: $white;
    line-height: 35px;
    padding: 5px 20px 0;
  }
  &__pay-block {
    display: block;
    font-size: 0;
    padding: 0 10px;
    @media (max-width: $tablet){
      padding: 0;
    }
  }
  &__pay-button {
    display: inline-block;
    position: relative;
    border: none;
    background: none;
    outline: none;
    cursor: default;
    text-align: left;
    font-size: 14px;
    color: $opacityText;
    //line-height: 25px;
    line-height: 21px;
    margin: 0 10px;
    padding-left: 21px;
    transition: color 0.1s;
    @media (min-width: $hoverMinWidth) {
      &:hover {
        color: $opacityText;
      }
    }
    &_active {
      color: $white;
      cursor: pointer;
      @media (min-width: $hoverMinWidth) {
        &:hover {
          color: $accentText;
        }
      }
    }
  }
  &__pay-button-img {
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    height: 9px;
    width: 14px;
  }
  &__ava-block {
    flex: 0 0 56px;
    height: 56px;
    margin: 0 15px;
    @media (max-width: $tablet) {
      flex: 0 0 35px;
      height: auto;
    }
    @media (min-width: $tablet) and (max-width: $laptop) {
      margin: 0;
      margin-right: -15px;
      margin-left: -28px;
    }
  }
  &__ava-img {
    display: block;
    height: 56px;
    width: 56px;
    filter: brightness(1);
    @media (min-width: $hoverMinWidth) {
      &:hover {
        filter: brightness(1.1);
        transition: filter 0.1s;
      }
    }
  }
  &__user-block {
    flex: 0 0 auto;
    padding: 3px 0;
    @media (max-width: $laptop) {
      display: none;
    }

  }
  &__user-name-wrapper {
    display: block;
    text-align: left;
  }
  &__user-name {
    display: block;
    position: relative;
    border: none;
    background: none;
    padding: 0;
    outline: none;
    cursor: pointer;
    text-align: left;
    max-width: 102px;
    overflow: hidden;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    color: $white;
    line-height: 30px;
    //margin-bottom: 4px;
    transition: color 0.1s;
    line-height: 1.39;
    @media (min-width: $hoverMinWidth) {
      &:hover {
        color: $accentText;
      }
    }
    @media (max-width: $tablet) {
      max-width: 35px;
      img{
        max-width: 100%;
        height: auto;
      }
    }
  }
  &__user-notification {
    display: block;
    position: relative;
    border: none;
    background: none;
    padding: 0;
    margin-right: 23px;
    outline: none;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    color: $opacityText;
    line-height: 20px;
    transition: color 0.1s;
    @media (min-width: $hoverMinWidth) {
      &:hover {
        color: $white;
      }
    }
    &_active {
      color: $accentText;
      @media (min-width: $hoverMinWidth) {
        &:hover {
          color: $white;
        }
      }
      .header__badge {
        transform: scale(1);
        transition: transform 0.1s;
      }
    }
  }
  &__badge {
    display: block;
    position: absolute;
    top: 1px;
    right: -23px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    overflow: hidden;
    background-image: linear-gradient(213deg, #ffdd71, #ffb35f);
    transform: scale(0);
  }
  &__badge-value {
    display: block;
    font: 12px 'sourcesans';
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: $darkText;
  }
  &__button-block {
    flex: 0 0 auto;
  }
  &__login-button {
    display: block;
    position: relative;
    border: none;
    background: none;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    color: $white;
    margin: 0 28px;
    cursor: pointer;
  }
  &__profile{
    &__no-auth{
      display: flex;
      align-items: center;
      @media (max-width: $tablet) {
        flex: 1;
        .header__button-block{
          flex: 1 0 50%;
        }
        .header__login-button{
          margin: 0 auto;
        }
      }
      .icon-lock{
        margin-right: 3px;
        @media (min-width: $tablet) {
          display: none;
        }
      }
    }
    @media (max-width: $tablet) {
      border-top: 1px solid rgba(255, 255, 255, 0.15);
      font-size: 16px;
      .header__login-button,
      .main-button{
        font-size: 16px;
        line-height: 37px;
        height: auto;
        margin-top: -1px;
        margin-bottom: -1px;
      }
      .header__ava-block{
        margin: 0;
      }
    }
  }
  @media (max-width: $tablet) {
    .header__field--mobileTop{
      height: 56px; //TODO temp?
      padding: 15px;
      flex: 1 0 100%;
    }
  }

}

.nav{
  &--tablet{
    display: none;
    @media (max-width: $laptop) and (min-width: $tablet) {
      display: block;
    }
    >div{
      position: relative;
      display: inline-block;
      padding: 15px 0;
    }
    >div:hover > span{
      color: #fff;
    }
    >div:hover .nav__sub{
      display: block;
    }
  }
  &__sub{
    display: none;
    position: absolute;
    top: 100%;
    left: 15px;
    font-size: 14px;
    background: #fff;
    padding: 0 15px;
    min-width: 140px;
    z-index: 10;
    a{
      display: block;
      line-height: 35px;
      color: #2b0a00;
      text-decoration: none;
    }
  }
  &--full{
    @media (max-width: $laptop){
      display: none;
    }
  }
  &__more{
    display: inline-block;
    > span{
      margin: 0 15px;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.6);
    }
    > span:after{
      vertical-align: middle;
      margin-left: 4px;
      display: inline-block;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 3.5px 0 3.5px;
      border-color: rgba(255, 255, 255, 0.6) transparent transparent transparent;
    }
  }
  &__more:hover &__sub{
    display: block;
  }
  &__more:hover span:after{
    border-color: #fff transparent transparent transparent;
  }
}

.nav-mobile{
  display: flex;
  &__open{
    width: 20px;
    height: 18px;
    span{
      display: block;
      height: 2px;
      background: #fff;
      margin-bottom: 6px;
    }
    span:last-child{
      margin-bottom: 0;
    }
  }
  @media (min-width: $tablet){
    display: none;
  }
  &__messages{
    display: block;
    border-radius: 50%;
    line-height: 18px;
    width: 21px;
    height: 20px;
    text-align: center;
    background-image: linear-gradient(213deg, #ffdd71, #ffb35f);
    color: #2b0a00;
    font-size: 14px;
    font-weight: bold;
    margin-right: 18px;
  }
}