.hidden{
  display: none;
}
.flex{
  display: flex;
}
.flex-align-center{
  align-items: center;
}
.opacity{
  transition: opacity 0.4s ease;
  opacity:0;
}
.bold{
  font-weight: bold;
}
.block{
  display: block;
}