.icon{
  vertical-align: middle;
}
.icon-vk{
  width: 25px;
  height: 14px;
}
.icon-telegram{
  width: 19px;
  height: 17px;
}
.icon-cash{
  width: 33px;
  height: 33px;
  margin-right: 12px;
  vertical-align: middle;
}
.icon-game_caret{
  width: 34px;
  height: 26px;
}
.icon-close-modal{
  width: 30px;
  height: 30px
}
.icon-phone{
  height: 25px;
  width: 25px;
}
.icon-mail{
  height: 25px;
  width: 25px;
}
.icon-lock{
  height: 15px;
  width: 11px;
}