.lang-switch {
  display: block;
  position: relative;
  &__button {
    display: block;
    border: none;
    background: none;
    padding: 0;
    outline: none;
    cursor: pointer;
  }
  &__img {
    display: block;
    height: 18px;
    width: 25px;
  }
  &__list {
    display: none;
    position: absolute;
    top: -9px;
    left: -10px;
    background: $white;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.8);
    z-index: 1;
    &.active{
      display: block;
    }
  }
  &__list-item {
    display: block;
    position: relative;
    background: transparent;
    transition: background 0.1s;

    @media (min-width: $hoverMinWidth) {
      &:hover {
        background: $accentText;
      }
    }
    &_active {
      padding: 9px 25px 9px 45px;
      @media (min-width: $hoverMinWidth) {
        &:hover {
          background: transparent;
        }
      }
      .lang-switch__list-item-check {
        opacity: 1;
      }
    }
    a{
      display: block;
      max-width: 100%;
      padding: 9px 25px 9px 45px;
    }
  }
  &__list-item-text {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: $darkText;
  }
  &__list-item-img {
    position: absolute;
    top: 9px;
    left: 10px;
    height: 18px;
    width: 25px;
  }
  &__list-item-check {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 9px;
    height: 7px;
    opacity: 0;
    transition: opacity 0.1s;
  }
}