// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$tickets-close-name: 'tickets-close';
$tickets-close-x: 0px;
$tickets-close-y: 0px;
$tickets-close-offset-x: 0px;
$tickets-close-offset-y: 0px;
$tickets-close-width: 14px;
$tickets-close-height: 14px;
$tickets-close-total-width: 42px;
$tickets-close-total-height: 124px;
$tickets-close-image: '~sprite.png';
$tickets-close: (0px, 0px, 0px, 0px, 14px, 14px, 42px, 124px, '~sprite.png', 'tickets-close', );
$tickets-close-2x-name: 'tickets-close@2x';
$tickets-close-2x-x: 0px;
$tickets-close-2x-y: 34px;
$tickets-close-2x-offset-x: 0px;
$tickets-close-2x-offset-y: -34px;
$tickets-close-2x-width: 28px;
$tickets-close-2x-height: 28px;
$tickets-close-2x-total-width: 42px;
$tickets-close-2x-total-height: 124px;
$tickets-close-2x-image: '~sprite.png';
$tickets-close-2x: (0px, 34px, 0px, -34px, 28px, 28px, 42px, 124px, '~sprite.png', 'tickets-close@2x', );
$tickets-close-3x-name: 'tickets-close@3x';
$tickets-close-3x-x: 0px;
$tickets-close-3x-y: 82px;
$tickets-close-3x-offset-x: 0px;
$tickets-close-3x-offset-y: -82px;
$tickets-close-3x-width: 42px;
$tickets-close-3x-height: 42px;
$tickets-close-3x-total-width: 42px;
$tickets-close-3x-total-height: 124px;
$tickets-close-3x-image: '~sprite.png';
$tickets-close-3x: (0px, 82px, 0px, -82px, 42px, 42px, 42px, 124px, '~sprite.png', 'tickets-close@3x', );
$spritesheet-width: 42px;
$spritesheet-height: 124px;
$spritesheet-image: '~sprite.png';
$spritesheet-sprites: ($tickets-close, $tickets-close-2x, $tickets-close-3x, );
$spritesheet: (42px, 124px, '~sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
