@mixin defaultTransition($time) {
  transition: all $time cubic-bezier(0.25,0.1 ,0.25, 1);
}

/* SLIDE FADE */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(0.25,0.1 ,0.25, 1);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(-10px);
  opacity: 0;
}

/* SLIDER LEFT */
.width-leave-active, .width-enter-active {
  shape-inside: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip: rect(0px, 336px, 287px, 0px);
  @include defaultTransition(0.3s);
}
.width-enter-active{
  transition-delay: 0.4s;
}
.width-enter, .width-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  //transform: translateX(-20px);
  shape-inside: polygon(0 0, 0 0, 0 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  clip: rect(0px, 0px, 287px, 0px);
}

/* FADE  */
.fade-enter-active, .fade-leave-active {
  transition: opacity .4s
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0
}

/* FADE VALUES  */
.fade-num-enter-active, .fade-num-leave-active {
  transition: opacity .1s
}
.fade-num-enter, .fade-num-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0.3
}

/* PLAYERS  */
.players-enter-active .game__area__players__ava,
.players-leave-active .game__area__players__ava{
  width: 60px;
}
.players-enter-active .game__area__players__ava__data,
.players-leave-active .game__area__players__ava__data{
  transition: opacity 0.5s cubic-bezier(0.25,0.1 ,0.25, 1);
}
.players-enter .game__area__players__ava__data,
.players-leave-to .game__area__players__ava__data{
  opacity: 0
}


/* ROULETTE */

.roulette{
  &-enter-active{
    transition: all .4s cubic-bezier(0.25,0.1 ,0.25, 1);
    transition-delay: 0.2s;
  }
  &-leave-active{
    transition: all .4s cubic-bezier(0.25,0.1 ,0.25, 1);
  }
  &-enter{
    opacity: 0.4;
    .game__raffle__inner{
      height: 0;
    }
  }
  &-leave-to{
    opacity: 0;
    transform: translateY(25px);
  }
}


/* OPACITY'S */
.opacity03{
  &-enter-active,
  &-leave-active{
    transition: all .3s cubic-bezier(0.25,0.1 ,0.25, 1);
  }
  &-enter,
  &-leave-to{
    opacity: 0;
  }
}

.opacity02{
  &-enter-active,
  &-leave-active{
    transition: all .2s cubic-bezier(0.25,0.1 ,0.25, 1);
  }
  &-enter,
  &-leave-to{
    opacity: 0;
  }
}

.opacity01{
  &-enter-active,
  &-leave-active{
    transition: all .1s cubic-bezier(0.25,0.1 ,0.25, 1);
  }
  &-enter,
  &-leave-to{
    opacity: 0;
  }
}


/* WINNER */
.winner{
  &-enter-active,
  &-leave-active{
    transition: opacity .4s ease;
    transition-delay: 0.3s;
    .game__raffle__player__winner__name,
    .game__raffle__player__winner__info{
      transition: all .4s cubic-bezier(0.25,0.1 ,0.25, 1);
      transition-delay: 0.3s;
    },
    .game__raffle__player__winner__laurel{
      transition: opacity .4s cubic-bezier(0.25,0.1 ,0.25, 1) 0.1s,
      transform .4s cubic-bezier(0.25,0.1 ,0.25, 1) 0.3s;
    }
  }
  &-enter,
  &-leave-to{
    opacity: 0;
    .game__raffle__player__winner__name{
      transform: translateX(20px);
    }
    .game__raffle__player__winner__info{
      transform: translateX(-20px);
    }
    .game__raffle__player__winner__laurel{
      transform: scale(0);
    }
  }
}


/* WINNER MODAL*/
.winner_modal{
  &-enter-active,
  &-leave-active {
    transition: all .4s ease;
    .you-win__confetti{
      transition: all .4s cubic-bezier(0,1.67,0,.86);
      transition-delay: 0.2s;
    }
    .you-win__ava{
      transition: all .4s cubic-bezier(0,1.67,0,.86);
      transition-delay: 0.2s;
    }
    .you-win__title{
      transition: all 0.4s cubic-bezier(0.25,0.1 ,0.25, 1);
      transition-delay: 0.3s;
    }
    .you-win__bottom{
      transition: all 0.4s cubic-bezier(0.25,0.1 ,0.25, 1);
      transition-delay: 0.1s;
    }
  }
  &-leave-to{
    opacity: 0;
  }
  &-enter{
  //&-leave-to{ //TODO выяснить, какая должна быть анимация выхода
    opacity: 0;
    .you-win__bottom{
      opacity: 0;
      transform: translateY(-20px);
    }
    .you-win__title{
      opacity: 0;
      transform: scale(0);
    }
    .you-win__confetti{
        top: -550px
    }
    .you-win__ava{
        transform: scale(0);
    }
  }
}


/* WINNER LIST */
.winners-list{
  &-enter-active,
  &-leave-active{
    .winner{
      transition: all 0.4s ease;
    }
  }
  &-enter,
  &-leave-to{
    .winner{
      opacity: 0;
      transform: translateY(-20px);
    }
  }
}

/* WINNER DETAIL */
.winner-detail{
  &-enter-active,
  &-leave-active{
    transition: all 0.4s cubic-bezier(0.25,0.1 ,0.25, 1);
    .winner__details__content{
      transition: all 0.4s cubic-bezier(0.25,0.1 ,0.25, 1);
    }
  }
  &-enter-active .winner__details__content{
    transition-delay: 0.3s;
  }
  &-leave-active{
    transition-delay: 0.3s;
  }
  &-enter,
  &-leave-to{
    height: 0 !important;
    .winner__details__content{
      opacity: 0;
      transform: translateX(-20px);
    }
  }
}

/* COUNTDOWN LIST */
.countdown-list{
  &-enter-active,
  &-leave-active{
    transition: all 1s linear;
  }
  &-enter{
    opacity: 0;
    transform: translateY(20px);
  }
  &-leave-to{
    opacity: 0;
    transform: translateY(-20px);
  }
}

/* SIDEBAR */
.sidebar{
  &-enter-active,
  &-leave-active{
    .sidebar__overlay{
      transition: all 0.3s cubic-bezier(0.25,0.1 ,0.25, 1);
    }
    .sidebar__sidebar{
      transition: all 0.3s cubic-bezier(0.25,0.1 ,0.25, 1);
      transition-delay: 0.1s;
    }
  }
  &-enter,
  &-leave-to{
    .sidebar__overlay{
      opacity: 0;
    }
    .sidebar__sidebar{
      transform: translateX(100%); //TODO slow transition?
    }
  }
}

/* MODAL EDGES */
.edges{
  &-enter-active,
  &-leave-active{
    transition: all 0.3s cubic-bezier(0.25,0.1 ,0.25, 1);
    .modal__close,
    .edges__item,
    .edges__item img,
    .edges__item span{
      transition: all 0.4s cubic-bezier(0.25,0.1 ,0.25, 1);
    }
  }
  &-enter-active{
    .modal__close,
    .btn,
    .edges__item,
    .edges__item img,
    .edges__item span{
      transition-delay: 0.3s;
    }
  }
  &-leave-active{
    transition-delay: 0.3s;
  }
  &-enter,
  &-leave-to{
    opacity: 0;
    .modal__close{
      opacity: 0;
      transform: rotate(-90deg);
    }
    .btn{
      opacity: 0;
      transform: translateY(-20px);
    }
    .edges__item{
      opacity: 0;
    }
    .edges__item img{
      transform: translateX(5px);
    }
    .edges__item span{
      transform: translateX(-10px);
    }
  }
}

/* MODAL EDGES */
.staggered-nav{
  &-enter-active,
  &-leave-active{
    transition: all 0.3s cubic-bezier(0.25,0.1 ,0.25, 1);
    .modal__close{
      transition: all 0.4s cubic-bezier(0.25,0.1 ,0.25, 1);
    }
    .modal-nav__menu__item a{
      transition: all 0.4s cubic-bezier(0.25,0.1 ,0.25, 1);
    }
    .modal-nav__menu__item span{
      transition: all 0.4s cubic-bezier(0.25,0.1 ,0.25, 1);
    }
  }

  &-enter,
  &-leave-to{
    opacity: 0;
    .modal__close{
      opacity: 0;
      transform: rotate(-90deg);
    }
    .modal-nav__menu__item a{
      opacity: 0;
      transform: translateX(10px);
    }
  }
  &-enter{
    .modal-nav__menu__item span{
      transform: translateX(-18px);
    }
  }
  &-leave-to{
    .modal-nav__menu__item span{
      transform: translateX(-18px);
    }
  }
}



.form-step{
  &-enter-active,
  &-leave-active{
    transition: all 0.4s  cubic-bezier(0.25,0.1 ,0.25, 1);
  }

  &-enter,
  &-leave-to{
    opacity: 0;
  }
  &-enter{
    transform: translateX(-30px);
  }
  &-leave-to{
    transform: translateX(30px);
  }
}

.slide-top{
  &-enter-active,
  &-leave-active{
    transition: all 0.4s  cubic-bezier(0.25,0.1 ,0.25, 1);
  }
  &-enter,
  &-leave-to{
    opacity: 0;
    transform: translateY(-100%);
  }
}
.slide-right{
  &-enter-active,
  &-leave-active{
    transition: all 0.4s  cubic-bezier(0.25,0.1 ,0.25, 1);
  }
  &-enter,
  &-leave-to{
    opacity: 0;
    transform: translateX(100%);
  }
}
