
$overlay-dot-color: rgba(105, 105, 105, 0.14901960784313725);
$transparent-border:rgba(255,255,255, 0.15);

$hoverMinWidth: 1024px;

//colors
$white: #ffffff;
$black: #000000;
$accentText: #ffdd71;
$opacityText: rgba(255,255,255,0.6);
$darkText: #2b0a00;
$grayText: #76746d;

//media break points
$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
