.v-winners{
  margin: 0 8px 30px;
  @media (max-width: $tablet){
    margin: 0 0px 15px;
  }
  &__addMore{
    padding: 25px 22px;
    background-color: #382c3e;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(237, 234, 240, 0.15);
    .btn{
      width: 100%;
    }
    @media (max-width: $tablet){
      padding: 0;
      border: none;
      box-shadow: none;
      .btn{
        box-shadow: none;
      }
    }
  }
  &-list-wrap{
    //background-image: linear-gradient(to bottom, #382c3e, #292130);
    //padding: 20px 0 0;
    //border-right: 1px solid rgba(255, 255, 255, 0.1);
    //border-left: 1px solid rgba(255, 255, 255, 0.1);
    .headline{
      padding: 0 22px;
      padding-top: 20px;
      background-color: #382c3e;
      border-right: 1px solid rgba(255, 255, 255, 0.1);
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      @media (max-width: $tablet){
        padding: 0 15px;
        padding-top: 15px;

      }
    }
  }
}

.winner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 22px;
  padding: 20px 0;
  border-bottom: 1px solid rgba(237, 234, 240, 0.15);
  transition: all 0.3s ease;
  &__bg{
    background-color: #382c3e;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }
  &.active{
    border-bottom: 1px solid transparent;
  }
  &.active &__name{
    font-weight: bold;
  }

  &__label{
    color: #847e88;
    font-size: 18px;
    @media (min-width: $tablet) and (max-width: $laptop){
      font-size: 16px;
    }
    @media (max-width: $tablet){
      font-size: 12px;
    }
  }

  &__value{
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    @media (min-width: $tablet) and (max-width: $laptop){
      font-size: 20px;
    }
    @media (max-width: $tablet){
      font-size: 16px;
    }
  }

  &__user{
    display: flex;
    align-items: center;
    flex: 0 0 275px;
  }

  &__ava{
    width: 50px;
    height: 50px;
    margin-right: 15px;
    img{
      max-width: 100%;
      max-height: 100%;
    }
    @media (max-width: $tablet){
      width: 55px;
      height: 55px;
    }
  }

  &__name{
    font-size: 20px;
    @media (max-width: $tablet){
      font-size: 18px;
    }
  }

  &__details{
    background: #261d2d;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    padding: 18px 25px 30px;
    margin: 10px;
    position: relative;
    transition: all 0.3s ease;
    @media (max-width: $tablet){
      padding: 15px 15px 20px;
      &__bet{
        position: absolute;
        right: 0;
        margin-right: 0 !important;
        .winner__label{
          display: inline-block !important;
          margin-right: 6px;
        }
      }
    }
    &__outer{
      overflow: hidden;
    }
    &:after,
    &:before{
      content: ' ';
      display: block;
      position: absolute;
      top: -10px;
      width: 100%;
      left: -11px;
      padding-right: 2px;
      border-top: 10px solid #160b1c;
      border-right: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid transparent;
    }
    &:after{
      top: auto;
      bottom: -10px;
      border-top: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #544959;
      border-left: 10px solid transparent;
    }
    & .winner__label{
      display: block;
      font-size: 14px;
      margin-bottom: 5px;
    }
    &__top{
      position: relative;
      margin-bottom: 25px;
      @media (min-width: $tablet) and (max-width: $laptop){
        justify-content: space-between;
      }
      @media (max-width: $tablet){
        margin-bottom: 15px;
      }
    }
    &__top > div{
      margin-right: 24px;
    }

    &__randomLink{
      padding-top: 6px;
      @media (min-width: $tablet) and (max-width: $laptop){
        order: 3;
        margin-right: 0 !important;
        flex: 1 0 200px;
      }
      @media (max-width: $tablet){
        display: none;
      }
    }

    &__members{
      &__label{
        font-size: 20px;
        color: #fff;
        margin-bottom: 15px;
        @media (max-width: $tablet){
          font-size: 18px;
          margin-bottom: 10px;
        }
      }
      &__items{
        display: flex;
      }
      &__item{
        width: 55px;
        height: 55px;
        margin-right: 18px;
        @media (max-width: $tablet){
          width: 30px;
          height: 30px;
          margin-right: 13px;
        }
      }
      &__item:last-child {
        margin-right: 0;
      }
      &__item img{
        max-width: 100%;
        max-height: 100%;
      }
    }

  }
  &__more{
    @media (max-width: $tablet){
      flex: 1 0 100%;
      margin-top: 15px;
      .btn{
        width: 100%;
      }
    }
  }
  &__gain,
  &__chance{
    @media (min-width: $tablet) and (max-width: $laptop){
      display: flex;
      flex-direction: column-reverse;
      min-height: 45px;
    }
  }
  &__ago{
    @media (min-width: $tablet) and (max-width: $laptop){
      display: flex;
      flex-direction: column;
      min-height: 45px;
      justify-content: flex-end;
    }
  }
  &__gain,
  &__chance,
  &__ago{
    @media (max-width: $tablet){
      display: flex;
      flex-direction: column;
    }
  }
  @media (max-width: $tablet){
    margin: 0;
    padding: 15px 15px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  &__info{
    flex: 1;
    &__values{
      justify-content: space-between;
      display: flex;
    }
  }
}
