@import '../../../node_modules/normalize.css/normalize.css';
@import "variables";
@import "flexboxgrid.css";
@import 'common';
@import "icons";
@import "transitions";
@import "fonts.css";
@import "sprite";
@import "buttons";
@import "helpers";
@import "lang-switch";

.content {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.container{
  max-width: 1140px;
  min-width: 320px;
  width: auto;
  &--pad{
    padding-left: 15px;
    padding-right: 15px;
  }
}

@import 'header';
@import 'edges';
@import 'game';
@import 'winners';
@import 'footer';

.bTicketsList{
  font-size: 0;
  &__item{
    background: #ffdd71;
    line-height: 25px;
    padding: 0 8px;
    color: #2b0a00;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    &--more{
      background: #fff;
      color: #2b0a00;
      padding: 0 11px;
      cursor: pointer;
    }
  }

  &__label{
    font-size: 18px;
    display: inline-block;
    padding-right: 8px;
  }
}


.input-rub {
  display: block;
  position: relative;
  &__input {
    width: 100%;
    height: 53px;
    background-color: #f8f8f8;
    border: solid 1px #e1dad4;
    padding: 0 23px 0 10px;
    font-size: 30px;
    line-height: 53px;
    text-align: left;
    color: $darkText;
    &::-webkit-input-placeholder {
      color: $grayText;
    }
    &::-moz-placeholder          {
      color: $grayText;
    }
    &:-moz-placeholder           {
      color: $grayText;
    }
    &:-ms-input-placeholder      {
      color: $grayText;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  &__currency-icon {
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -16px;
    height: 32px;
    font-size: 32px;
    line-height: 32px;
    text-align: left;
    color: $grayText;
  }
}
//
//.sb{
//  position: fixed;
//  top: 0;
//  left: 0;
//  width: 100%;
//  min-height: 100%;
//  //display: flex;
//
//  &__overlay{
//    z-index: 1;
//    display: flex;
//    align-items: flex-end;
//    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
//    background-color: rgba(0, 0, 0, 0.3);
//  }
//  &__bar{
//    right: 0;
//    z-index: 2;
//    position: absolute;
//    top: 0px;
//    bottom: 0px;
//    transition: -webkit-transform 0.3s ease-out;
//    will-change: transform;
//    overflow-y: auto;
//    /* left: 0px; */
//    transform: translateX(0%);
//    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 4px;
//    background: #fff;
//    div{
//      color: black;
//      height: 200px;
//    }
//  }
//}
//#main {
//  height: 100%;
//  overflow: auto;
//  -webkit-overflow-scroll: touch;
//}
//
//#overlay {
//  position: fixed;
//  top: 0px;
//  left: 0px;
//  right: 0px;
//  bottom: 0px;
//  z-index: 1;
//  background-color: rgba(0, 0, 0, 0.8);
//}
//
//.overlay-content {
//  height: 100%;
//  overflow-y: scroll;
//}


.sidebar{
  overflow-y: scroll;
  position: absolute;
  top:0;
  width: 100%;
  min-height: 100%;
  //display: flex;
  overflow-x: hidden;
  &__overlay{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right:0;
    width: 100%;
    min-height: 100%;
    opacity: 0.85;
    -webkit-backdrop-filter: blur(4.7px);
    backdrop-filter: blur(4.7px);
    background-color: #000000;
    will-change: transform;
  }
  &__sidebar{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    min-height: 100vh;
    //height:100%;

    background-image: linear-gradient(to bottom, #382c3e, #292130);
    border-left: 1px solid rgba(255, 255, 255, 0.14);
    min-width: 320px;
    transition: all 0.3s cubic-bezier(0.25,0.1 ,0.25, 1);
    will-change: transform;
    @media (max-width: $mobileL) {
      width: 100%;
    }
    &__header{
      display: inline-block;
      width: 100%;
      font-family: montserrat, Helvetica, Arial, sans-serif;
      font-size: 35px;
      font-weight: 600;
      line-height: 75px;
      padding: 0 27px;
      background-color: rgba(0, 0, 0, 0.15);
      box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.1);
      @media (max-width: $tablet) {
        padding: 0 15px;
        font-size: 25px;
        line-height: 54px;
      }
    }
    &__subHeader{
      font-family: montserrat, Helvetica, Arial, sans-serif;
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 30px;

    }
    &__close{
      display: inline-block;
      vertical-align: middle;
      margin-left: 30px;
      cursor: pointer;
      float: right;
      margin-top: 4px;
      @media(max-width: $tablet){
        .icon-close-modal{
          width: 20px;
          height: 20px;
        }
      }
    }
    &__content{
      padding: 30px;
    }
  }

}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 1000;
  &__close{
    position: absolute;
    right: 15px;
    top: 18px;
    z-index: 10000;
    font-size: 0;
    .icon-close-modal{
      width: 20px;
      height: 20px;
    }
  }
  &__overlay{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    z-index: 1000;
  }

  &__content{
    position: relative;
    z-index: 10000;
  }
  &-edges{
    padding: 60px 15px 20px;
  }
  &-edges &__overlay{
     background-color: rgba(0,0,0,0.8);
     -webkit-filter: url('#blur');
     filter: url('#blur');
     background-size: cover;
  }
  &-nav{
    padding: 30px;
    &__menu{
      &__item{
        position: relative;
        display: block;
        font-size: 20px;
        margin-bottom: 20px;
        a{
          display: inline-block;
          text-decoration: none;
          color: rgba(255,255,255, 0.6);
        }
      }
      &__item a:hover{
        color: $accentText;
      }
      &__item.active a{
        color: $accentText;
      }
      &__item.active span{
        position: absolute;
        content: " ";
        display: block;
        width: 18px;
        height: 4px;
        left: -30px;
        top: 12px;
        background: $accentText;
      }
    }
    &__profile{
      z-index: 1000;
      position: absolute;
      bottom: 30px;
      a{
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 20px;
        color: rgba(255,255,255, 0.6);
      }
      &__ava{
        width: 35px;
        height: 35px;
        margin-right: 10px;
      }
    }
  }
  &-nav &__overlay{
    background-image: linear-gradient(to bottom, #382c3e, #292130);
  }
}

.reg{
  &__tabs{
    border: solid 1px #000000;
    display: flex;
    margin-bottom: 30px;
    @media (max-width: $tablet){
      margin-bottom: 15px;
    }
  }
  &__tab{
    cursor: pointer;
    padding: 0 10px 0 10px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.1);
    line-height: 45px;
    text-align: center;
    flex-grow: 1;
    use path,
    use g,
    use circle{
      fill: inherit;
      stroke: inherit;
    }
    .tab_icon{
      fill: #5F5EC0;
      color: #AEAFDD;
    }
    &.active{
      box-shadow: inset 0 2px 0 1px rgba(0, 0, 0, 0.35);
      background-color: #ffdd71;
      color: #2b0a00;
      font-weight: bold;
    }
    .icon{
      vertical-align: middle;
      margin-right: 8px;
      color: #fff;
      fill: #fff;
      &-phone{
        margin-right: 4px;
      }
      &-mail{
        margin-right: 8px;
      }
    }
  }
}

.authSocial{
  @media (max-width: $mobileM){
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item{
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.35), inset 0 0 5px 0 rgba(255, 255, 255, 0.35);
    background-image: linear-gradient(to bottom, #73a3d3, #2c7dd1);
    border: solid 1px #000000;
    line-height: 53px;
    cursor: pointer;
    padding: 0 16px 0 18px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $mobileM){
      padding: 0 28px;
      height: 53px;
      span{
        display: none;
      }
    }
    .icon{
      width: 30px;
      height: 30px;
      margin-right: 3px;
    }
    &--vk:hover{
      background-image: linear-gradient(to bottom, #0f6fd0, #004d9d);
    }
    &--vk:active{
      box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.25);
      background: #0860b9;
      border: solid 1px #000000;
    }
    &--fb{
      background-image: linear-gradient(to bottom, #4766a9, #273493);
    }
    &--fb:hover{
      background-image: linear-gradient(to bottom, #1c4397, #000e6f);
    }
    &--fb:active{
      box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.25);
      background: #123088;
      border: solid 1px #000000;
    }
    &--ok{
      background-image: linear-gradient(to bottom, #fec353, #ffaa34);
    }
    &--ok:hover{
      background-image: linear-gradient(to bottom, #ffad11, #e86f00);
    }
    &--ok:active{
      box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.25);
      background: #f6960b;
      border: solid 1px #000000;
    }
  }
  &__item:hover .icon{
    height: 36px;
    width: 36px;
    margin-right: 0;
  }
}

.auth{
  &__content{
    padding: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.14);
    width: 388px;
    &--social{
      box-shadow: inset 0 5px 0 0 rgba(0, 0, 0, 0.25);
      border-top: 1px solid #000;
      border-bottom: 0;
    }
    @media (max-width: $tablet) {
      padding: 15px;
      width: 100%;
    }
    &--avatar{
      width: 525px;
    }
  }
  &__avatar{
    input[type="file"]{
      display: none;
    }
    &__label{
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
      @media (max-width: $tablet) {
        font-size: 16px;
      }
    }
    &__upload{
      line-height: 22px;
      text-decoration: dashed;
      color: $accentText;
      display: inline-block;
      border-bottom: 1px dashed $accentText;
      cursor: pointer;
    }
    &__list{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      max-width: 550px;
      margin-left: -10px;
      margin-right: -10px;
    }
    &__list:after{
      content: "";
      flex: auto;
    }
    &__item{
      position: relative;
      flex-basis: 20%;
      padding: 0 10px;
      margin-bottom: 20px;
      &.selected &__wrap{
        border: solid 2px #ffdd71;
      }
      &__wrap{
        height: calc(100% - 4px);
      }
      &__uploaded{
        position: relative;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

      }
      img{
        width: 100%;
        height: auto;
        cursor: pointer;
      }
    }
    &__deleteUploaded{
      z-index: 1;
      position: absolute;
      width: 25px;
      height: 25px;
      top: 0;
      right: 10px;
      background: $accentText;
      cursor: pointer;
      span{
        position: absolute;
        top: 11px;
        left: 3px;
        width: 20px;
        height: 2px;
        background: #000;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      span:last-child{
        transform: rotate(-45deg);
      }
    }
  }
}

.notification{
  position: fixed;
  top: 0;
  right: 20px;
  margin: auto;
  margin-top: 20px;
  max-width: 500px;
  background: #fff;
  z-index: 1000;
  -webkit-backdrop-filter: blur(1.4px);
  backdrop-filter: blur(1.4px);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75);
  background-color: rgba(47, 144, 0, 0.8);
  border: solid 1px rgba(255, 255, 255, 0.25);
  display: flex;
  &__info{
    padding: 10px 15px;
  }
  &__bold{
    font-weight: bold;
  }
  &.error{
    background-color: rgba(130, 0, 0, 0.8);
  }
  &__close{
    padding: 28px 13px 31px;
    background-color: rgb(53, 127, 17);
    cursor: pointer;
    &__cross{
      position: relative;
      width: 30px;
      div{
        position: absolute;
        width: 30px;
        display: block;
        height: 4px;
        background: #fff;
      }
      div:first-child{
        transform: rotate(45deg);
      }
      div:last-child{
        transform: rotate(-45deg);
      }
    }
  }
  &.error &__close{
    background-color: rgba(163, 0, 0, 0.6);
  }
  @media (max-width: $tablet){
    margin-top: 0;
    top: 0;
    right: auto;
    width: 100%;
  }
}

.withdraw{
  display: flex;
  min-height: 100vh;
  width: 100%;
  &__select{
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    flex: 1 0 auto;
    &__options{
      padding: 15px 0;
    }
    &__option{
      min-width: 270px;
      white-space: nowrap;
      padding: 15px 30px;
      display: flex;
      align-items: center;
      font-size: 18px;
      cursor: pointer;
      &__img{
        width: 30px;
        margin-right: 8px;
        text-align: center;
        font-size: 0;
      }
      img{
        max-width: 100%;
        height: auto;
      }
    }
    &__option:hover{
      font-weight: bold;
    }
    &__option.selected{
      font-weight: bold;
      background-color: rgba(0, 0, 0, 0.4);
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1), 0 -1px 0 0 rgba(255, 255, 255, 0.1);
    }
  }
  &__form{
    padding: 30px;
  }
  &__amount{
    display: flex;
    label input{
      max-width: 115px;
    }
    label{
      margin-right: 10px;
    }
    .rub{
      display: inline-block;
      margin-right: 5px;
      color: #9a8b86;
      font-size: 26px;
    }
  }
  &__penalty{
    font-size: 15px;
    background: #493f4e;
    padding: 0 20px;
    display: flex;
    align-items: center;
    span{
      font-weight: bold;
      color: #ffdd71;
    }
  }
}


@import "forms";