@font-face {
    font-family: 'montserrat';
    src: url('/fonts/MontserratAlternates-SemiBold.eot');
    src: local('☺'), url('/fonts/MontserratAlternates-SemiBold.woff') format('woff'), url('/fonts/MontserratAlternates-SemiBold.ttf') format('truetype'), url('/fonts/MontserratAlternates-SemiBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sourcesans';
    src: url('/fonts/SourceSansPro-Regular.eot');
    src: local('☺'), url('/fonts/SourceSansPro-Regular.woff') format('woff'), url('/fonts/SourceSansPro-Regular.ttf') format('truetype'), url('/fonts/SourceSansPro-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'sourcesans';
    src: url('/fonts/SourceSansPro-Bold.eot');
    src: local('☺'), url('/fonts/SourceSansPro-Bold.woff') format('woff'), url('/fonts/SourceSansPro-Bold.ttf') format('truetype'), url('/fonts/SourceSansPro-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}